{# TODO: adjust href in such a way that it can be reused #}

<ul class="alphabet pagination">
    <li class="current"><a href="#">A</a></li>
    <li><a href="http://emlo.bodleian.ox.ac.uk/browse/people?letter=b">B</a></li>
    <li><a href="http://emlo.bodleian.ox.ac.uk/browse/people?letter=c">C</a></li>
    <li><a href="http://emlo.bodleian.ox.ac.uk/browse/people?letter=d">D</a></li>
    <li><a href="http://emlo.bodleian.ox.ac.uk/browse/people?letter=e">E</a></li>
    <li><a href="http://emlo.bodleian.ox.ac.uk/browse/people?letter=f">F</a></li>
    <li><a href="http://emlo.bodleian.ox.ac.uk/browse/people?letter=g">G</a></li>
    <li><a href="http://emlo.bodleian.ox.ac.uk/browse/people?letter=h">H</a></li>
    <li><a href="http://emlo.bodleian.ox.ac.uk/browse/people?letter=i">I</a></li>
    <li><a href="http://emlo.bodleian.ox.ac.uk/browse/people?letter=j">J</a></li>
    <li><a href="http://emlo.bodleian.ox.ac.uk/browse/people?letter=k">K</a></li>
    <li><a href="http://emlo.bodleian.ox.ac.uk/browse/people?letter=l">L</a></li>
    <li><a href="http://emlo.bodleian.ox.ac.uk/browse/people?letter=m">M</a></li>
    <li><a href="http://emlo.bodleian.ox.ac.uk/browse/people?letter=n">N</a></li>
    <li><a href="http://emlo.bodleian.ox.ac.uk/browse/people?letter=o">O</a></li>
    <li><a href="http://emlo.bodleian.ox.ac.uk/browse/people?letter=p">P</a></li>
    <li><a href="http://emlo.bodleian.ox.ac.uk/browse/people?letter=q">Q</a></li>
    <li><a href="http://emlo.bodleian.ox.ac.uk/browse/people?letter=r">R</a></li>
    <li><a href="http://emlo.bodleian.ox.ac.uk/browse/people?letter=s">S</a></li>
    <li><a href="http://emlo.bodleian.ox.ac.uk/browse/people?letter=t">T</a></li>
    <li><a href="http://emlo.bodleian.ox.ac.uk/browse/people?letter=u">U</a></li>
    <li><a href="http://emlo.bodleian.ox.ac.uk/browse/people?letter=v">V</a></li>
    <li><a href="http://emlo.bodleian.ox.ac.uk/browse/people?letter=w">W</a></li>
    <li><a href="http://emlo.bodleian.ox.ac.uk/browse/people?letter=x">X</a></li>
    <li><a href="http://emlo.bodleian.ox.ac.uk/browse/people?letter=y">Y</a></li>
    <li><a href="http://emlo.bodleian.ox.ac.uk/browse/people?letter=z">Z</a></li>
</ul>