<div class="large-1 small-2 columns">
    <label>&nbsp;<!-- for alingment--></label>
    <span data-tooltip=""
        aria-haspopup="true"
        class="has-tip tip-top"
        data-selector="tooltip-lz7zrq1x0"
        aria-describedby="tooltip-lz7zrq1x0"
        title=""
    >
        <img
            style="min-width: 25px; text-align: left"
            class="help"
            src="/static/img/icon-help.png"
            alt="Help"
        />
    </span>
</div>