<div class="large-1 small-2 columns" id="help-icon">
    <span class="has-tip tip-top">
        <img style="min-width: 25px; text-align: left" class="help" src="/static/img/icon-help.png" alt="Help"/>
    </span>
</div>