PORT=5000
REDIS_PORT=6379

# .env configuration for docker
SOLR_URL=http://solr:8983/solr
REDIS_HOST=redis

# .env configuration for localhost
# SOLR_URL=http://localhost:8983/solr
# REDIS_HOST=localhost

# Source csv files for indexing
CSV_FOLDER_IMPORT_PATH=./docker-emlo/csv_import_files

# You can pass either "true" or "false" to run your application in debug mode.
DEBUG="false"