<div class="section clearfix" id="dates_section">
  <hr class="yellow-divider" />
  
  <h3><img src="/static/img/icon-calendar.png" alt="Dates Icon" />Dates</h3>

  <fieldset class="alignment">
    <label>Single Date</label>
    <div class="row">
      <div class="columns small-12 large-3">
        <select id="dat_sin_year" name="dat_sin_year" class="select2-hidden-accessible" tabindex="-1" aria-hidden="true"
          onchange="updateDays('dat_sin_year' , 'dat_sin_month' , 'dat_sin_day')"
        >
          <option class="default" selected="selected">all years</option>
          {% for year in range(start_year, end_year) %}
          <option value="{{ year }}">{{ year }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="columns small-12 large-4">
        <select id="dat_sin_month" name="dat_sin_month" class="select2-hidden-accessible" tabindex="-1" aria-hidden="true"
          onchange="updateDays('dat_sin_year' , 'dat_sin_month' , 'dat_sin_day')"
        >
          <option class="default" value="all months" selected="selected">
            all months
          </option>
          {% for month, month_num in months_map.items() %}
            <option value="{{ month_num }}">{{ month }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="columns small-12 large-3">
        <select id="dat_sin_day" name="dat_sin_day" class="select2-hidden-accessible" tabindex="-1" aria-hidden="true">
          <option class="default" selected="selected">all dates</option>
        </select>
      </div>

      <div class="columns small-12 large-2">
        <span
          data-tooltip=""
          aria-haspopup="true"
          class="has-tip tip-top"
          data-selector="tooltip-lz9klwc5i"
          aria-describedby="tooltip-lz9klwc5i"
          title=""
        >
          <img
            style="min-width: 25px; text-align: left"
            class="help"
            src="/static/img/icon-help.png"
            alt="Help"
          />
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Between</legend>

    <label>From</label>
    <div class="row">
      <div class="columns small-12 large-3">
        <select id="dat_from_year" name="dat_from_year" class="select2-hidden-accessible" tabindex="-1" aria-hidden="true"
        onchange="updateDays('dat_from_year' , 'dat_from_month' , 'dat_from_day')">
          <option class="default">
            {{dat_from_year}}
          </option>
          {% for year in range(start_year, end_year) %}
            <option value="{{ year }}">{{ year }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="columns small-12 large-4">
        <select id="dat_from_month" name="dat_from_month" class="select2-hidden-accessible" tabindex="-1" aria-hidden="true"
        onchange="updateDays('dat_from_year' , 'dat_from_month' , 'dat_from_day')">
          <option class="default" value="all months" selected="selected">
            all months
          </option>
          {% for month, month_num in months_map.items() %}
            <option value="{{ month_num }}">{{ month }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="columns small-12 large-3">
        <select id="dat_from_day" name="dat_from_day" class="select2-hidden-accessible" tabindex="-1" aria-hidden="true">
          <option class="default" selected="selected">all dates</option>
        </select>
      </div>
      <div class="columns small-12 large-2">
        <span
          data-tooltip=""
          aria-haspopup="true"
          class="has-tip tip-top"
          data-selector="tooltip-lz9klwc5j"
          aria-describedby="tooltip-lz9klwc5j"
          title=""
        >
          <img
            style="min-width: 25px; text-align: left"
            class="help"
            src="/static/img/icon-help.png"
            alt="Help"
          />
        </span>
      </div>
    </div>

    <label>To</label>

    <div class="row">
      <div class="columns small-12 large-3">
        <select id="dat_to_year" name="dat_to_year" class="select2-hidden-accessible" tabindex="-1" aria-hidden="true"
        onchange="updateDays('dat_to_year' , 'dat_to_month' , 'dat_to_day')">
          <option class="default">
            {{dat_to_year}}
          </option>
          {% for year in range(start_year, end_year) %}
          <option value="{{ year }}">{{ year }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="columns small-12 large-4">
        <select id="dat_to_month" name="dat_to_month" class="select2-hidden-accessible" tabindex="-1" aria-hidden="true"
        onchange="updateDays('dat_to_year' , 'dat_to_month' , 'dat_to_day')">
          <option class="default" value="all months" selected="selected">
            all months
          </option>
          {% for month, month_num in months_map.items() %}
            <option value="{{ month_num }}">{{ month }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="columns small-12 large-3">
        <select id="dat_to_day" name="dat_to_day" class="select2-hidden-accessible" tabindex="-1" aria-hidden="true">
          <option class="default" selected="selected">all dates</option>
        </select>
      </div>
      <div class="columns small-12 large-2">
        <span
          data-tooltip=""
          aria-haspopup="true"
          class="has-tip tip-top"
          data-selector="tooltip-lz9klwc5k"
          aria-describedby="tooltip-lz9klwc5k"
          title=""
        >
          <img
            style="min-width: 25px; text-align: left"
            class="help"
            src="/static/img/icon-help.png"
            alt="Help"
          />
        </span>
      </div>
    </div>
  </fieldset>

  <button onclick="advanceSearch()" name="submit-advanced" type="submit" class="button submit search-related">Search</button>
</div>
