<div class="section clearfix" id="institutions_section">
  <hr class="yellow-divider" />
  
  <h3>
    <img
      src="/static/img/icon-repository.png"
      alt="Repositories and Editions Icon"
    />Repositories and Editions
  </h3>

  <fieldset>
    <legend>Repositories</legend>

    <label for="repository">Repository</label>
    <div class="row">
      <div class="small-11 columns">
        <div id="repository-dropdown"></div>
        <span
          class="select2 select2-container select2-container--default"
          dir="ltr"
          style="width: 582px"
          ><span class="selection"
            ><span
              class="select2-selection select2-selection--single"
              role="combobox"
              aria-haspopup="true"
              aria-expanded="false"
              title=""
              tabindex="0"
              aria-labelledby="select2-repository-container"
              ><span
                class="select2-selection__rendered"
                id="select2-repository-container"
                title="all repositories"
                >all repositories</span
              ><span class="select2-selection__arrow" role="presentation"
                ><b role="presentation"></b></span></span></span
          ><span class="dropdown-wrapper" aria-hidden="true"></span
        ></span>
      </div>
      <div class="small-1 columns">
        <span
          data-tooltip=""
          aria-haspopup="true"
          class="has-tip tip-top"
          data-selector="tooltip-lz9klwc51c"
          aria-describedby="tooltip-lz9klwc51c"
          title=""
        >
          <img
            style="min-width: 25px; text-align: left"
            class="help"
            src="/static/img/icon-help.png"
            alt="Help"
          />
        </span>
      </div>
    </div>

    <label for="let_shel">Shelfmark / ID</label>
    <div class="row">
      <div class="small-11 columns">
        <input
          id="let_shel"
          name="let_shel"
          type="text"
          class="text"
          value="all shelfmarks"
          onfocus="
javascript:textClear(this);"
          onblur="
javascript:textFill(this);"
        />
      </div>
      <div class="small-1 columns">
        <span
          data-tooltip=""
          aria-haspopup="true"
          class="has-tip tip-top"
          data-selector="tooltip-lz9klwc51d"
          aria-describedby="tooltip-lz9klwc51d"
          title=""
        >
          <img
            style="min-width: 25px; text-align: left"
            class="help"
            src="/static/img/icon-help.png"
            alt="Help"
          />
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Printed Editions</legend>

    <label for="let_pe_tex">Printed Editions</label>
    <div class="row">
      <div class="small-11 columns">
        <input
          id="let_pe_tex"
          name="let_pe_tex"
          type="text"
          class="text"
          value="all printed editions"
          onfocus="
javascript:textClear(this);"
          onblur="
javascript:textFill(this);"
        />
      </div>
      <div class="small-1 columns">
        <span
          data-tooltip=""
          aria-haspopup="true"
          class="has-tip tip-top"
          data-selector="tooltip-lz9klwc51e"
          aria-describedby="tooltip-lz9klwc51e"
          title=""
        >
          <img
            style="min-width: 25px; text-align: left"
            class="help"
            src="/static/img/icon-help.png"
            alt="Help"
          />
        </span>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns end">
        <div class="row">
          <div class="small-10 columns">
            <input
              type="checkbox"
              id="let_pe"
              name="let_pe"
              value="true"
              class="checkbox"
            />

            <label for="let_pe">Only with printed editions</label>
          </div>
          <div class="small-2 columns">
            <span
              data-tooltip=""
              aria-haspopup="true"
              class="has-tip tip-top"
              data-selector="tooltip-lz9klwc51f"
              aria-describedby="tooltip-lz9klwc51f"
              title=""
            >
              <img
                style="min-width: 25px; text-align: left"
                class="help"
                src="/static/img/icon-help.png"
                alt="Help"
              />
            </span>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <button onclick="advanceSearch()" name="submit-advanced" type="submit" class="button submit search-related">Search</button>
</div>
