<div class="section clearfix" id="institutions_section">
  <hr class="yellow-divider" />
  
  <h3>
    <img
      src="/static/img/icon-repository.png"
      alt="Repositories and Editions Icon"
    />Repositories and Editions
  </h3>

  <fieldset>
    <legend>Repositories</legend>

    <label for="repository">Repository</label>
    <div class="row">
      <div class="small-11 columns">
        <select
          id="repository"
          name="repository"
          title=""
          class="select2-hidden-accessible"
          tabindex="-1"
          aria-hidden="true"
        >
          <option class="default" selected="selected">all repositories</option>

          <option value="Abadia de Montserrat">Abadia de Montserrat</option>
          <option value="Accademia Nazionale di San Luca">
            Accademia Nazionale di San Luca
          </option>
          <option value="Accademia dei Concordi">Accademia dei Concordi</option>
          <option value="Accademia di Belle Arti Pietro Vannucci">
            Accademia di Belle Arti Pietro Vannucci
          </option>
          <option value="Accademia di Belle Arti di Firenze">
            Accademia di Belle Arti di Firenze
          </option>
          <option value="Akademie der bildenden Künste Wien">
            Akademie der bildenden Künste Wien
          </option>
          <option value="All Souls College Library, University of Oxford">
            All Souls College Library, University of Oxford
          </option>
          <option value="Alnwick Castle Collections and Archives">
            Alnwick Castle Collections and Archives
          </option>
          <option value="American Philosophical Society">
            American Philosophical Society
          </option>
          <option
            value="Archiv der Berlin-Brandenburgischen Akademie der Wissenschaften"
          >
            Archiv der Berlin-Brandenburgischen Akademie der Wissenschaften
          </option>
          <option value="Archiv der Evangelischen Kirche im Rheinland">
            Archiv der Evangelischen Kirche im Rheinland
          </option>
          <option value="Archiv der Evangelischen Landeskirche Anhalts">
            Archiv der Evangelischen Landeskirche Anhalts
          </option>
          <option value="Archiv der Münster zur Schönen Unserer Lieben Frau">
            Archiv der Münster zur Schönen Unserer Lieben Frau
          </option>
          <option value="Archiv des Bistums Augsburg">
            Archiv des Bistums Augsburg
          </option>
          <option value="Archive du Ministère des Affaires Etrangères">
            Archive du Ministère des Affaires Etrangères
          </option>
          <option
            value="Archive of the Congregation for the Doctrine of the Faith"
          >
            Archive of the Congregation for the Doctrine of the Faith
          </option>
          <option value="Archive of the Russian Academy of Sciences">
            Archive of the Russian Academy of Sciences
          </option>
          <option value="Archives Nationales">Archives Nationales</option>
          <option value="Archives d'Etat de Genève">
            Archives d'Etat de Genève
          </option>
          <option value="Archives de Strasbourg">Archives de Strasbourg</option>
          <option value="Archives de l'Académie des Sciences">
            Archives de l'Académie des Sciences
          </option>
          <option value="Archives de l'État">Archives de l'État</option>
          <option value="Archives de l'État, Liège">
            Archives de l'État, Liège
          </option>
          <option
            value="Archives de la Famille de la Trémoille, Château de Serran (Maine-et-Loire)"
          >
            Archives de la Famille de la Trémoille, Château de Serran
            (Maine-et-Loire)
          </option>
          <option value="Archives de la Vendée">Archives de la Vendée</option>
          <option value="Archives de l’État de Neuchâtel">
            Archives de l’État de Neuchâtel
          </option>
          <option value="Archives des Pieux Établissements de la France à Rome">
            Archives des Pieux Établissements de la France à Rome
          </option>
          <option value="Archives des Pieux Établissements de la France à Rome">
            Archives des Pieux Établissements de la France à Rome
          </option>
          <option value="Archives départementales de la Haute-Marne">
            Archives départementales de la Haute-Marne
          </option>
          <option value="Archives départementales de l’Hérault">
            Archives départementales de l’Hérault
          </option>
          <option value="Archives départementales du Puy-de-Dôme">
            Archives départementales du Puy-de-Dôme
          </option>
          <option value="Archives municipales">Archives municipales</option>
          <option value="Archivio Borromeo">Archivio Borromeo</option>
          <option value="Archivio Generale dell'Ordine dei Predicatori, Rome">
            Archivio Generale dell'Ordine dei Predicatori, Rome
          </option>
          <option value="Archivio Histórico Municipal de Valencia">
            Archivio Histórico Municipal de Valencia
          </option>
          <option value="Archivio Segreto Vaticano">
            Archivio Segreto Vaticano
          </option>
          <option value="Archivio Storico dei Musei Vaticani">
            Archivio Storico dei Musei Vaticani
          </option>
          <option value="Archivio Storico di Firenze">
            Archivio Storico di Firenze
          </option>
          <option value="Archivio dei Gonzaga di Castiglione delle Stiviere">
            Archivio dei Gonzaga di Castiglione delle Stiviere
          </option>
          <option value="Archivio del Palazzo dei Musei a Varallo">
            Archivio del Palazzo dei Musei a Varallo
          </option>
          <option value="Archivio della Pontificia Università Gregoriana">
            Archivio della Pontificia Università Gregoriana
          </option>
          <option value="Archivio della S. Congregazione de Propaganda Fide">
            Archivio della S. Congregazione de Propaganda Fide
          </option>
          <option value="Archivio di Stato di Firenze">
            Archivio di Stato di Firenze
          </option>
          <option value="Archivio di Stato di Lucca">
            Archivio di Stato di Lucca
          </option>
          <option value="Archivio di Stato di Milano">
            Archivio di Stato di Milano
          </option>
          <option value="Archivio di Stato di Modena">
            Archivio di Stato di Modena
          </option>
          <option value="Archivio di Stato di Napoli">
            Archivio di Stato di Napoli
          </option>
          <option
            value="Archivio di Stato di Palermo, Tribunale del Real Patrimonio"
          >
            Archivio di Stato di Palermo, Tribunale del Real Patrimonio
          </option>
          <option value="Archivio di Stato di Parma">
            Archivio di Stato di Parma
          </option>
          <option value="Archivio di Stato di Roma">
            Archivio di Stato di Roma
          </option>
          <option value="Archivio di Stato di Venezia">
            Archivio di Stato di Venezia
          </option>
          <option value="Archivio storico della Tavola Valdese">
            Archivio storico della Tavola Valdese
          </option>
          <option value="Archivo General de Simancas">
            Archivo General de Simancas
          </option>
          <option value="Archivo Histórico Nacional">
            Archivo Histórico Nacional
          </option>
          <option value="Archivo Municipal de Sevilla">
            Archivo Municipal de Sevilla
          </option>
          <option value="Archivo de la Casa de Alba">
            Archivo de la Casa de Alba
          </option>
          <option value="Archivo de la Catedral de Lleida">
            Archivo de la Catedral de Lleida
          </option>
          <option value="Archivo de la Catedral de Tarragona">
            Archivo de la Catedral de Tarragona
          </option>
          <option
            value="Archivo de la Embajada Española ante al Santa Sede, Ministerio de Asuntos Exteriores"
          >
            Archivo de la Embajada Española ante al Santa Sede, Ministerio de
            Asuntos Exteriores
          </option>
          <option value="Archivo de la Universidad de Salamanca">
            Archivo de la Universidad de Salamanca
          </option>
          <option value="Archivo del Sacromonte">Archivo del Sacromonte</option>
          <option value="Archivum Romanum Societatis Iesu">
            Archivum Romanum Societatis Iesu
          </option>
          <option value="Archiwum Archidiecezji Warmińskiej">
            Archiwum Archidiecezji Warmińskiej
          </option>
          <option value="Archiwum Państwowe w Gdańsku">
            Archiwum Państwowe w Gdańsku
          </option>
          <option value="Archiwum Państwowe w Poznaniu">
            Archiwum Państwowe w Poznaniu
          </option>
          <option value="Archívum Magyar Országos Levéltár">
            Archívum Magyar Országos Levéltár
          </option>
          <option value="Arhivele Statului Sibiu">
            Arhivele Statului Sibiu
          </option>
          <option value="Armagh Public Library">Armagh Public Library</option>
          <option value="Arundel Castle Archives">
            Arundel Castle Archives
          </option>
          <option value="Arxiu Nacional de Catalunya [ANC]">
            Arxiu Nacional de Catalunya [ANC]
          </option>
          <option value="Ashmolean Museum">Ashmolean Museum</option>
          <option value="Babson College, Grace K. Babson Collection">
            Babson College, Grace K. Babson Collection
          </option>
          <option value="Bangor University, Archives and Special Collections">
            Bangor University, Archives and Special Collections
          </option>
          <option value="Bank of England Archive">
            Bank of England Archive
          </option>
          <option value="Bayerische Staatsbibliothek">
            Bayerische Staatsbibliothek
          </option>
          <option value="Bayerisches Hauptstaatsarchiv">
            Bayerisches Hauptstaatsarchiv
          </option>
          <option value="Bayerisches Staatsarchiv Würzburg">
            Bayerisches Staatsarchiv Würzburg
          </option>
          <option value="Beinecke Library, Yale University">
            Beinecke Library, Yale University
          </option>
          <option value="Belvoir Castle">Belvoir Castle</option>
          <option value="Berkshire Record Office">
            Berkshire Record Office
          </option>
          <option value="Biblioteca Ambrosiana">Biblioteca Ambrosiana</option>
          <option value="Biblioteca Apostolica Vaticana">
            Biblioteca Apostolica Vaticana
          </option>
          <option value="Biblioteca Archeologica e Numismatica">
            Biblioteca Archeologica e Numismatica
          </option>
          <option value="Biblioteca Capialbi">Biblioteca Capialbi</option>
          <option value="Biblioteca Capitolare di Viterbo">
            Biblioteca Capitolare di Viterbo
          </option>
          <option value="Biblioteca Capitular de Sevilla">
            Biblioteca Capitular de Sevilla
          </option>
          <option value="Biblioteca Capitular de Toledo">
            Biblioteca Capitular de Toledo
          </option>
          <option value="Biblioteca Civica">Biblioteca Civica</option>
          <option value="Biblioteca Civica Bertoliana">
            Biblioteca Civica Bertoliana
          </option>
          <option value="Biblioteca Comunale 'Aurelio Saffi'">
            Biblioteca Comunale 'Aurelio Saffi'
          </option>
          <option value="Biblioteca Comunale Ariostea">
            Biblioteca Comunale Ariostea
          </option>
          <option value="Biblioteca Comunale Augusta di Perugia">
            Biblioteca Comunale Augusta di Perugia
          </option>
          <option value="Biblioteca Comunale Paroniana">
            Biblioteca Comunale Paroniana
          </option>
          <option value="Biblioteca Comunale Passerini-Landi">
            Biblioteca Comunale Passerini-Landi
          </option>
          <option value="Biblioteca Comunale degli Intronati">
            Biblioteca Comunale degli Intronati
          </option>
          <option value="Biblioteca Comunale di Trento. Archivio Storico">
            Biblioteca Comunale di Trento. Archivio Storico
          </option>
          <option value="Biblioteca Estense Universitaria">
            Biblioteca Estense Universitaria
          </option>
          <option value="Biblioteca Fundación Bartolomé March Servera">
            Biblioteca Fundación Bartolomé March Servera
          </option>
          <option value="Biblioteca Guarneriana">Biblioteca Guarneriana</option>
          <option value="Biblioteca Labronica">Biblioteca Labronica</option>
          <option value="Biblioteca Lancisiana">Biblioteca Lancisiana</option>
          <option value="Biblioteca Marucelliana">
            Biblioteca Marucelliana
          </option>
          <option value="Biblioteca Medicea Laurenziana">
            Biblioteca Medicea Laurenziana
          </option>
          <option value="Biblioteca Nacional de España">
            Biblioteca Nacional de España
          </option>
          <option value="Biblioteca Nacional de Portugal">
            Biblioteca Nacional de Portugal
          </option>
          <option value="Biblioteca Nazionale Braidense">
            Biblioteca Nazionale Braidense
          </option>
          <option value="Biblioteca Nazionale Centrale Vittorio Emanuele II">
            Biblioteca Nazionale Centrale Vittorio Emanuele II
          </option>
          <option value="Biblioteca Nazionale Centrale di Firenze">
            Biblioteca Nazionale Centrale di Firenze
          </option>
          <option value="Biblioteca Nazionale Marciana">
            Biblioteca Nazionale Marciana
          </option>
          <option value="Biblioteca Nazionale di Napoli">
            Biblioteca Nazionale di Napoli
          </option>
          <option value="Biblioteca Pública de Évora">
            Biblioteca Pública de Évora
          </option>
          <option value="Biblioteca Queriniana di Brescia">
            Biblioteca Queriniana di Brescia
          </option>
          <option value="Biblioteca Statale Oratoriana dei Girolamini">
            Biblioteca Statale Oratoriana dei Girolamini
          </option>
          <option
            value="Biblioteca Statale del Monumento Nazionale di Santa Scolastica"
          >
            Biblioteca Statale del Monumento Nazionale di Santa Scolastica
          </option>
          <option value="Biblioteca Statale di Lucca">
            Biblioteca Statale di Lucca
          </option>
          <option value="Biblioteca Trivulziana">Biblioteca Trivulziana</option>
          <option value="Biblioteca Universitaria Centrale, Granada">
            Biblioteca Universitaria Centrale, Granada
          </option>
          <option value="Biblioteca Universitaria di Bologna">
            Biblioteca Universitaria di Bologna
          </option>
          <option value="Biblioteca Universitaria di Genova">
            Biblioteca Universitaria di Genova
          </option>
          <option value="Biblioteca Universitaria di Pisa">
            Biblioteca Universitaria di Pisa
          </option>
          <option value="Biblioteca Vallicelliana">
            Biblioteca Vallicelliana
          </option>
          <option value="Biblioteca Zabálburu">Biblioteca Zabálburu</option>
          <option value="Biblioteca civica">Biblioteca civica</option>
          <option value="Biblioteca civica di Fossombrone">
            Biblioteca civica di Fossombrone
          </option>
          <option value="Biblioteca comunale dell'Archiginnasio">
            Biblioteca comunale dell'Archiginnasio
          </option>
          <option value="Biblioteca de la Universidad de Sevilla">
            Biblioteca de la Universidad de Sevilla
          </option>
          <option value="Biblioteca de la Universitat de Barcelona">
            Biblioteca de la Universitat de Barcelona
          </option>
          <option value="Biblioteca del Museo Correr">
            Biblioteca del Museo Correr
          </option>
          <option value="Biblioteca del Palacio Real">
            Biblioteca del Palacio Real
          </option>
          <option value="Biblioteca del Seminario San Carlos">
            Biblioteca del Seminario San Carlos
          </option>
          <option
            value="Biblioteca dell'Accademia Nazionale dei Lincei e Corsiniana"
          >
            Biblioteca dell'Accademia Nazionale dei Lincei e Corsiniana
          </option>
          <option value="Biblioteca della Fondazione Querini Stampalia">
            Biblioteca della Fondazione Querini Stampalia
          </option>
          <option value="Biblioteca della Società Napoletana di Storia Patria">
            Biblioteca della Società Napoletana di Storia Patria
          </option>
          <option value="Biblioteca e Museo Archeologico Oliveriani">
            Biblioteca e Museo Archeologico Oliveriani
          </option>
          <option value="Biblioteche Comunali Treviso">
            Biblioteche Comunali Treviso
          </option>
          <option value="Biblioteka Gdańska Polskiej Akademii Nauk">
            Biblioteka Gdańska Polskiej Akademii Nauk
          </option>
          <option value="Biblioteka Jagiellońska">
            Biblioteka Jagiellońska
          </option>
          <option value="Biblioteka Kórnicka PAN">
            Biblioteka Kórnicka PAN
          </option>
          <option
            value="Biblioteka Naukowa Polskiej Akademii Umiejętności i Polskiej Akademii Nauk w Krakowie"
          >
            Biblioteka Naukowa Polskiej Akademii Umiejętności i Polskiej
            Akademii Nauk w Krakowie
          </option>
          <option value="Biblioteka Raczyńskich">Biblioteka Raczyńskich</option>
          <option value="Biblioteka Uniwersytecka, Wrocław">
            Biblioteka Uniwersytecka, Wrocław
          </option>
          <option value="Bibliotheca Angelica">Bibliotheca Angelica</option>
          <option value="Bibliotheca Christianei">
            Bibliotheca Christianei
          </option>
          <option value="Bibliotheca Philosopica Hermetica">
            Bibliotheca Philosopica Hermetica
          </option>
          <option value="Bibliotheek Gelderland Zuid">
            Bibliotheek Gelderland Zuid
          </option>
          <option value="Bibliotheek Rotterdam">Bibliotheek Rotterdam</option>
          <option value="Bibliotheek Tweebronnen">
            Bibliotheek Tweebronnen
          </option>
          <option value="Bibliotheek van het Vredespaleis">
            Bibliotheek van het Vredespaleis
          </option>
          <option
            value="Bibliothek für Bildungsgeschichtliche Forschung, Leibniz-Instituts für Bildungsforschung und Bildungsinformation"
          >
            Bibliothek für Bildungsgeschichtliche Forschung, Leibniz-Instituts
            für Bildungsforschung und Bildungsinformation
          </option>
          <option value="Bibliothèque Historique de la Ville de Paris">
            Bibliothèque Historique de la Ville de Paris
          </option>
          <option value="Bibliothèque Inguimbertine">
            Bibliothèque Inguimbertine
          </option>
          <option value="Bibliothèque Littéraire Jacques Doucet">
            Bibliothèque Littéraire Jacques Doucet
          </option>
          <option value="Bibliothèque Mazarine">Bibliothèque Mazarine</option>
          <option value="Bibliothèque Municipale de Nantes">
            Bibliothèque Municipale de Nantes
          </option>
          <option value="Bibliothèque Méjanes">Bibliothèque Méjanes</option>
          <option value="Bibliothèque Sainte-Geneviève">
            Bibliothèque Sainte-Geneviève
          </option>
          <option value="Bibliothèque archives municipales">
            Bibliothèque archives municipales
          </option>
          <option value="Bibliothèque cantonale et universitaire">
            Bibliothèque cantonale et universitaire
          </option>
          <option value="Bibliothèque centrale des musées nationaux">
            Bibliothèque centrale des musées nationaux
          </option>
          <option value="Bibliothèque d'Amiens Métropole">
            Bibliothèque d'Amiens Métropole
          </option>
          <option value="Bibliothèque de Genève">Bibliothèque de Genève</option>
          <option value="Bibliothèque de Toulouse">
            Bibliothèque de Toulouse
          </option>
          <option value="Bibliothèque de l'Arsenal">
            Bibliothèque de l'Arsenal
          </option>
          <option value="Bibliothèque de l'Hôtel de Ville de Paris">
            Bibliothèque de l'Hôtel de Ville de Paris
          </option>
          <option
            value="Bibliothèque de l'Institut National d'Histoire de l'Art"
          >
            Bibliothèque de l'Institut National d'Histoire de l'Art
          </option>
          <option value="Bibliothèque de l'Institut de France">
            Bibliothèque de l'Institut de France
          </option>
          <option value="Bibliothèque de l'Observatoire de Paris">
            Bibliothèque de l'Observatoire de Paris
          </option>
          <option
            value="Bibliothèque de la Société de l'Histoire du Protestantisme français"
          >
            Bibliothèque de la Société de l'Histoire du Protestantisme français
          </option>
          <option value="Bibliothèque de l’Assemblée nationale">
            Bibliothèque de l’Assemblée nationale
          </option>
          <option value="Bibliothèque interuniversitaire de la Sorbonne">
            Bibliothèque interuniversitaire de la Sorbonne
          </option>
          <option value="Bibliothèque municipale de Besançon">
            Bibliothèque municipale de Besançon
          </option>
          <option value="Bibliothèque municipale de Dijon">
            Bibliothèque municipale de Dijon
          </option>
          <option value="Bibliothèque municipale de Lille">
            Bibliothèque municipale de Lille
          </option>
          <option value="Bibliothèque municipale de Lyon">
            Bibliothèque municipale de Lyon
          </option>
          <option value="Bibliothèque municipale de Poitiers">
            Bibliothèque municipale de Poitiers
          </option>
          <option value="Bibliothèque municipale de Reims">
            Bibliothèque municipale de Reims
          </option>
          <option value="Bibliothèque municipale de Saint-Girons">
            Bibliothèque municipale de Saint-Girons
          </option>
          <option value="Bibliothèque municipale et patrimoniale Villon">
            Bibliothèque municipale et patrimoniale Villon
          </option>
          <option value="Bibliothèque nationale de France">
            Bibliothèque nationale de France
          </option>
          <option value="Bibliothèque nationale et universitaire">
            Bibliothèque nationale et universitaire
          </option>
          <option value="Bibliothèque publique et universitaire de Neuchâtel">
            Bibliothèque publique et universitaire de Neuchâtel
          </option>
          <option
            value="Birmingham Archives, Heritage, and Photography Service"
          >
            Birmingham Archives, Heritage, and Photography Service
          </option>
          <option value="Blair Atholl Castle Archives">
            Blair Atholl Castle Archives
          </option>
          <option value="Blair Castle Archive">Blair Castle Archive</option>
          <option value="Bodleian Library, University of Oxford">
            Bodleian Library, University of Oxford
          </option>
          <option value="Bodmer Library">Bodmer Library</option>
          <option value="Boston Public Library">Boston Public Library</option>
          <option value="Bowdoin College Library">
            Bowdoin College Library
          </option>
          <option value="Bowood House">Bowood House</option>
          <option value="Brabants Historisch Informatie Centrum">
            Brabants Historisch Informatie Centrum
          </option>
          <option value="British Astronomical Association">
            British Astronomical Association
          </option>
          <option value="British Library, Manuscript Collections">
            British Library, Manuscript Collections
          </option>
          <option value="British Museum">British Museum</option>
          <option value="Brotherton Library, University of Leeds">
            Brotherton Library, University of Leeds
          </option>
          <option value="Burgerbibliothek Bern">Burgerbibliothek Bern</option>
          <option value="Cambridge University Library">
            Cambridge University Library
          </option>
          <option value="Cardiff Central Library">
            Cardiff Central Library
          </option>
          <option value="Carmarthenshire Archives">
            Carmarthenshire Archives
          </option>
          <option value="Central Archives of Historical Records">
            Central Archives of Historical Records
          </option>
          <option value="Charles L. Tutt Library, Colorado College">
            Charles L. Tutt Library, Colorado College
          </option>
          <option value="Chatsworth House Library">
            Chatsworth House Library
          </option>
          <option value="Cheshire Record Office">Cheshire Record Office</option>
          <option value="Chetham's Library">Chetham's Library</option>
          <option value="Christ Church College Library, University of Oxford">
            Christ Church College Library, University of Oxford
          </option>
          <option value="Christ's College Library">
            Christ's College Library
          </option>
          <option value="Château de Collonges-lès-Bévy">
            Château de Collonges-lès-Bévy
          </option>
          <option value="Château de Serrant">Château de Serrant</option>
          <option value="Collection d'E. Labrousse">
            Collection d'E. Labrousse
          </option>
          <option value="College of Arms">College of Arms</option>
          <option value="Columbia University, Butler Library">
            Columbia University, Butler Library
          </option>
          <option
            value="Columbia University, Rare Books and Manuscripts Library"
          >
            Columbia University, Rare Books and Manuscripts Library
          </option>
          <option value="Comenius Museum, Naarden">
            Comenius Museum, Naarden
          </option>
          <option value="Connecticut State Library">
            Connecticut State Library
          </option>
          <option value="Cornell University Library">
            Cornell University Library
          </option>
          <option value="Cornwall Record Office">Cornwall Record Office</option>
          <option value="Corpus Christi College Library, University of Oxford">
            Corpus Christi College Library, University of Oxford
          </option>
          <option value="Courtauld Institute of Art">
            Courtauld Institute of Art
          </option>
          <option value="Coutts &amp; Co">Coutts &amp; Co</option>
          <option value="Cumbria Archive Centre">Cumbria Archive Centre</option>
          <option value="Derby Local Studies Library">
            Derby Local Studies Library
          </option>
          <option value="Derbyshire Record Office">
            Derbyshire Record Office
          </option>
          <option value="Deutsche Zentralarchiv (DZA) [former name]">
            Deutsche Zentralarchiv (DZA) [former name]
          </option>
          <option value="Deutsches Literaturarchiv Marbach">
            Deutsches Literaturarchiv Marbach
          </option>
          <option value="Deutsches Museum">Deutsches Museum</option>
          <option value="Die Herzogin Anna Amalia Bibliothek">
            Die Herzogin Anna Amalia Bibliothek
          </option>
          <option value="Diözesanarchiv Eichstätt">
            Diözesanarchiv Eichstätt
          </option>
          <option value="Downing College Library, University of Cambridge">
            Downing College Library, University of Cambridge
          </option>
          <option value="Dr Williams's Library">Dr Williams's Library</option>
          <option value="Durham Cathedral Library">
            Durham Cathedral Library
          </option>
          <option value="Durham County Record Office">
            Durham County Record Office
          </option>
          <option value="East Riding Archives">East Riding Archives</option>
          <option value="East Sussex Record Office">
            East Sussex Record Office
          </option>
          <option value="Edinburgh City Archives">
            Edinburgh City Archives
          </option>
          <option value="Edinburgh University Library, Special Collections">
            Edinburgh University Library, Special Collections
          </option>
          <option value="Emmanuel College Library, University of Cambridge">
            Emmanuel College Library, University of Cambridge
          </option>
          <option value="Erfgoed Leiden en Omstreken">
            Erfgoed Leiden en Omstreken
          </option>
          <option value="Essex Record Office">Essex Record Office</option>
          <option value="Eton College Library">Eton College Library</option>
          <option
            value="Evangelisch-Lutherische Kirchengemeinde Gotha, Augustinerkloster"
          >
            Evangelisch-Lutherische Kirchengemeinde Gotha, Augustinerkloster
          </option>
          <option value="Fischbach Scheurl-Archiv">
            Fischbach Scheurl-Archiv
          </option>
          <option
            value="Fitzwilliam Museum (Department of Manuscripts and Printed books)"
          >
            Fitzwilliam Museum (Department of Manuscripts and Printed books)
          </option>
          <option value="Flintshire Record Office">
            Flintshire Record Office
          </option>
          <option value="Folger Shakespeare Library">
            Folger Shakespeare Library
          </option>
          <option value="Fondation Custodia, Frits Lugt Collection">
            Fondation Custodia, Frits Lugt Collection
          </option>
          <option value="Fondazione Biblioteca Benedetto Croce">
            Fondazione Biblioteca Benedetto Croce
          </option>
          <option value="Fondazione Camillo Caetani">
            Fondazione Camillo Caetani
          </option>
          <option value="Fondazione Luigi Firpo">Fondazione Luigi Firpo</option>
          <option value="Forschungsbibliothek Gotha der Universität Erfurt">
            Forschungsbibliothek Gotha der Universität Erfurt
          </option>
          <option
            value="Francis Nicholson Papers, The Colonial Williamsburg Foundation"
          >
            Francis Nicholson Papers, The Colonial Williamsburg Foundation
          </option>
          <option
            value="Franckesche Stiftungen zu Halle. Archiv und Bibliothek"
          >
            Franckesche Stiftungen zu Halle. Archiv und Bibliothek
          </option>
          <option value="Fregenal de la Sierra City Council">
            Fregenal de la Sierra City Council
          </option>
          <option value="Gainsborough's House">Gainsborough's House</option>
          <option value="Galleria Nazionale d’Arte Moderna">
            Galleria Nazionale d’Arte Moderna
          </option>
          <option value="Geheimes Staatsarchiv Preußischer Kulturbesitz">
            Geheimes Staatsarchiv Preußischer Kulturbesitz
          </option>
          <option value="Gelders Archief">Gelders Archief</option>
          <option value="Gemeentearchief Wageningen">
            Gemeentearchief Wageningen
          </option>
          <option value="Germanisches Nationalmuseum">
            Germanisches Nationalmuseum
          </option>
          <option value="Glamorgan Archives">Glamorgan Archives</option>
          <option value="Glasgow University Library">
            Glasgow University Library
          </option>
          <option value="Goldsmiths' Hall">Goldsmiths' Hall</option>
          <option
            value="Gonville and Caius College Library, University of Cambridge"
          >
            Gonville and Caius College Library, University of Cambridge
          </option>
          <option value="Gottfried Wilhelm Leibniz Bibliothek">
            Gottfried Wilhelm Leibniz Bibliothek
          </option>
          <option value="Grace K. Babson Collection, Babson College">
            Grace K. Babson Collection, Babson College
          </option>
          <option value="Gray's Inn Library">Gray's Inn Library</option>
          <option value="Guildhall Library">Guildhall Library</option>
          <option value="Haags Gemeentearchief">Haags Gemeentearchief</option>
          <option value="Hale Observatories Library">
            Hale Observatories Library
          </option>
          <option value="Hampshire Record Office">
            Hampshire Record Office
          </option>
          <option value="Harry Ransom Center">Harry Ransom Center</option>
          <option value="Hartlebury Castle">Hartlebury Castle</option>
          <option
            value="Harvey Cushing/John Hay Whitney Medical Library, Yale University"
          >
            Harvey Cushing/John Hay Whitney Medical Library, Yale University
          </option>
          <option value="Hatfield House Archives">
            Hatfield House Archives
          </option>
          <option value="Hauptstaatsarchiv Stuttgart">
            Hauptstaatsarchiv Stuttgart
          </option>
          <option value="Haus der Stadtgeschichte - Stadtarchiv">
            Haus der Stadtgeschichte - Stadtarchiv
          </option>
          <option value="Haverford College Library">
            Haverford College Library
          </option>
          <option value="Herzog August Bibliothek">
            Herzog August Bibliothek
          </option>
          <option value="Hessisches Hauptstaatsarchiv">
            Hessisches Hauptstaatsarchiv
          </option>
          <option value="Hessisches Staatsarchiv Darmstadt">
            Hessisches Staatsarchiv Darmstadt
          </option>
          <option value="Hessisches Staatsarchiv Marburg">
            Hessisches Staatsarchiv Marburg
          </option>
          <option value="Het Utrechts Archief">Het Utrechts Archief</option>
          <option value="Hispanic Society of America">
            Hispanic Society of America
          </option>
          <option value="Historical Society of Pennsylvania">
            Historical Society of Pennsylvania
          </option>
          <option value="Historisch Centrum Overijssel">
            Historisch Centrum Overijssel
          </option>
          <option value="Historisches Archiv der Stadt Köln">
            Historisches Archiv der Stadt Köln
          </option>
          <option value="Hochschul- und Landesbibliothek Fulda">
            Hochschul- und Landesbibliothek Fulda
          </option>
          <option value="Hohenlohe-Zentralarchiv Neuenstein">
            Hohenlohe-Zentralarchiv Neuenstein
          </option>
          <option value="Holburne Museum">Holburne Museum</option>
          <option value="Houghton Library, Harvard University">
            Houghton Library, Harvard University
          </option>
          <option value="Hugenottenbibliothek">Hugenottenbibliothek</option>
          <option value="Huisarchief Twickel">Huisarchief Twickel</option>
          <option value="Huntington Library">Huntington Library</option>
          <option value="Inner Temple Library">Inner Temple Library</option>
          <option value="Institut d’histoire de la Réformation">
            Institut d’histoire de la Réformation
          </option>
          <option value="Institut et Musée Voltaire">
            Institut et Musée Voltaire
          </option>
          <option value="Institut für Stadtgeschichte Frankfurt am Main">
            Institut für Stadtgeschichte Frankfurt am Main
          </option>
          <option value="Instituto Valencia de Don Juan">
            Instituto Valencia de Don Juan
          </option>
          <option value="Instituto dos Arquivos Nacionais">
            Instituto dos Arquivos Nacionais
          </option>
          <option value="J. Paul Getty Museum">J. Paul Getty Museum</option>
          <option value="KBR">KBR</option>
          <option value="Kantonsbibliothek Vadiana St.Gallen">
            Kantonsbibliothek Vadiana St.Gallen
          </option>
          <option value="Keele University Library">
            Keele University Library
          </option>
          <option value="Keio University Libraries, Tokyo">
            Keio University Libraries, Tokyo
          </option>
          <option value="Kendal Archive Centre">Kendal Archive Centre</option>
          <option
            value="Kenneth Spencer Research Library, University of Kansas"
          >
            Kenneth Spencer Research Library, University of Kansas
          </option>
          <option value="Kent History and Library Centre">
            Kent History and Library Centre
          </option>
          <option value="King's College Library, University of Cambridge">
            King's College Library, University of Cambridge
          </option>
          <option value="Kingston Lacy">Kingston Lacy</option>
          <option value="Knihovna Národního muzea">
            Knihovna Národního muzea
          </option>
          <option value="Kongelige Bibliotek">Kongelige Bibliotek</option>
          <option value="Koninklijke Bibliotheek">
            Koninklijke Bibliotheek
          </option>
          <option value="Koninklijke Nederlandse Akademie van Wetenschappen">
            Koninklijke Nederlandse Akademie van Wetenschappen
          </option>
          <option value="Koninklijke Verzamelingen Den Haag">
            Koninklijke Verzamelingen Den Haag
          </option>
          <option value="Kungliga Biblioteket">Kungliga Biblioteket</option>
          <option value="Kunsthaus Zürich">Kunsthaus Zürich</option>
          <option value="Kunstmuseum Basel">Kunstmuseum Basel</option>
          <option value="Kōriyama City Museum of Art">
            Kōriyama City Museum of Art
          </option>
          <option value="Kōriyama City Museum of Art">
            Kōriyama City Museum of Art
          </option>
          <option value="Lambeth Palace Library">Lambeth Palace Library</option>
          <option value="Lancashire Archives">Lancashire Archives</option>
          <option value="Landesarchiv Sachsen-Anhalt">
            Landesarchiv Sachsen-Anhalt
          </option>
          <option value="Landesarchiv Sachsen-Anhalt, Abteilung Dessau">
            Landesarchiv Sachsen-Anhalt, Abteilung Dessau
          </option>
          <option value="Landesarchiv Sachsen-Anhalt, Standort Wernigerode">
            Landesarchiv Sachsen-Anhalt, Standort Wernigerode
          </option>
          <option value="Landesarchiv Schleswig-Holstein">
            Landesarchiv Schleswig-Holstein
          </option>
          <option value="Landesarchiv Thüringen - Staatsarchiv Gotha">
            Landesarchiv Thüringen - Staatsarchiv Gotha
          </option>
          <option
            value="Landeskirchliche Archiv der Evangelisch-Lutherischen Kirche in Bayern"
          >
            Landeskirchliche Archiv der Evangelisch-Lutherischen Kirche in
            Bayern
          </option>
          <option value="Leicestershire, Leicester, and Rutland Record Office">
            Leicestershire, Leicester, and Rutland Record Office
          </option>
          <option value="Leiden, UL">Leiden, UL</option>
          <option value="Leopoldina">Leopoldina</option>
          <option
            value="Les collections patrimoniales de la Bibliothèque Universitaire"
          >
            Les collections patrimoniales de la Bibliothèque Universitaire
          </option>
          <option value="Leuven University Library">
            Leuven University Library
          </option>
          <option value="Lewis Walpole Library">Lewis Walpole Library</option>
          <option value="Library and Archives Canada">
            Library and Archives Canada
          </option>
          <option
            value="Library and Information Centre of the Hungarian Academy of Sciences"
          >
            Library and Information Centre of the Hungarian Academy of Sciences
          </option>
          <option value="Library of Congress">Library of Congress</option>
          <option value="Library of the University of Stanford">
            Library of the University of Stanford
          </option>
          <option value="Lietuvos Mokslu Akademija">
            Lietuvos Mokslu Akademija
          </option>
          <option value="Lilly Library, Indiana University, Bloomington">
            Lilly Library, Indiana University, Bloomington
          </option>
          <option value="Lincoln's Inn Library">Lincoln's Inn Library</option>
          <option value="Linköpings stadsbibliotek/Stiftsbiblioteket">
            Linköpings stadsbibliotek/Stiftsbiblioteket
          </option>
          <option value="Litchfield Cathedral Library">
            Litchfield Cathedral Library
          </option>
          <option value="London Metropolitan Archives">
            London Metropolitan Archives
          </option>
          <option value="Longleat House Library and Archives">
            Longleat House Library and Archives
          </option>
          <option value="Magyar Országos Levéltár">
            Magyar Országos Levéltár
          </option>
          <option value="Maine Historical Society">
            Maine Historical Society
          </option>
          <option value="Manchester, UL">Manchester, UL</option>
          <option value="Marsh's Library">Marsh's Library</option>
          <option value="Massachusetts Archives">Massachusetts Archives</option>
          <option value="Massachusetts Historical Society">
            Massachusetts Historical Society
          </option>
          <option value="Massachusetts Institute of Technology">
            Massachusetts Institute of Technology
          </option>
          <option value="McGill Library">McGill Library</option>
          <option
            value="Metropolitan Museum of Art Archive, Thomas J. Watson Library"
          >
            Metropolitan Museum of Art Archive, Thomas J. Watson Library
          </option>
          <option value="Mitchell Library">Mitchell Library</option>
          <option value="Moravian Archives">Moravian Archives</option>
          <option value="Moravská zemská knihovna v Brně">
            Moravská zemská knihovna v Brně
          </option>
          <option value="Moscow, State Historical Museum">
            Moscow, State Historical Museum
          </option>
          <option value="Mostyn Hall">Mostyn Hall</option>
          <option value="Municipal Library Fabrizio Trisi">
            Municipal Library Fabrizio Trisi
          </option>
          <option value="Municipal Museum De Lakenhal">
            Municipal Museum De Lakenhal
          </option>
          <option value="Museum Boijmans Van Beuningen">
            Museum Boijmans Van Beuningen
          </option>
          <option value="Museum Plantin-Moretus">Museum Plantin-Moretus</option>
          <option value="Museum of the History of Science">
            Museum of the History of Science
          </option>
          <option value="Museum voor Communicatie">
            Museum voor Communicatie
          </option>
          <option value="Musée Bonnat-Helleu">Musée Bonnat-Helleu</option>
          <option value="Musée Dobrée">Musée Dobrée</option>
          <option value="Musée Granet">Musée Granet</option>
          <option value="Musée Paul Arbaud">Musée Paul Arbaud</option>
          <option value="Musée d'histoire des sciences">
            Musée d'histoire des sciences
          </option>
          <option value="Musée des Beaux-Arts de Caen">
            Musée des Beaux-Arts de Caen
          </option>
          <option value="Musée du Louvre, Département des Arts Graphiques">
            Musée du Louvre, Département des Arts Graphiques
          </option>
          <option value="Musée royal de Mariemont">
            Musée royal de Mariemont
          </option>
          <option value="Muzeum Komenského v Přerově">
            Muzeum Komenského v Přerově
          </option>
          <option value="Muzeum Narodowe, Biblioteka Czartoryskich">
            Muzeum Narodowe, Biblioteka Czartoryskich
          </option>
          <option value="Médiathèque Emile Zola de Montpellier">
            Médiathèque Emile Zola de Montpellier
          </option>
          <option value="Médiathèque de Sedan">Médiathèque de Sedan</option>
          <option value="Médiathèque du Grand Troyes">
            Médiathèque du Grand Troyes
          </option>
          <option value="Nationaal Archief">Nationaal Archief</option>
          <option value="National Art Library">National Art Library</option>
          <option value="National Gallery">National Gallery</option>
          <option value="National Library of Australia">
            National Library of Australia
          </option>
          <option value="National Library of Ireland">
            National Library of Ireland
          </option>
          <option value="National Library of Israel">
            National Library of Israel
          </option>
          <option value="National Library of Russia">
            National Library of Russia
          </option>
          <option value="National Library of Scotland, Manuscript Collections">
            National Library of Scotland, Manuscript Collections
          </option>
          <option
            value="National Library of Wales, Department of Collection Services"
          >
            National Library of Wales, Department of Collection Services
          </option>
          <option value="National Maritime Museum, Greenwich">
            National Maritime Museum, Greenwich
          </option>
          <option value="National Museums Scotland">
            National Museums Scotland
          </option>
          <option value="National Portrait Gallery">
            National Portrait Gallery
          </option>
          <option value="National Records of Scotland">
            National Records of Scotland
          </option>
          <option value="National Széchényi Library">
            National Széchényi Library
          </option>
          <option value="Natural History Museum">Natural History Museum</option>
          <option value="Nederduitse Provincie der Jezuïeten">
            Nederduitse Provincie der Jezuïeten
          </option>
          <option value="New College Library, University of Oxford">
            New College Library, University of Oxford
          </option>
          <option value="New York Public Library">
            New York Public Library
          </option>
          <option value="Newberry Library">Newberry Library</option>
          <option value="Newcastle Literary and Philosophical Society">
            Newcastle Literary and Philosophical Society
          </option>
          <option value="Niedersächsisches Landesarchiv">
            Niedersächsisches Landesarchiv
          </option>
          <option value="Niedersächsisches Landesarchiv, Standort Aurich">
            Niedersächsisches Landesarchiv, Standort Aurich
          </option>
          <option value="Niedersächsisches Landesarchiv, Standort Wolfenbüttel">
            Niedersächsisches Landesarchiv, Standort Wolfenbüttel
          </option>
          <option value="Noord-Hollands Archief">Noord-Hollands Archief</option>
          <option value="Northamptonshire Record Office">
            Northamptonshire Record Office
          </option>
          <option value="Nottingham University Library">
            Nottingham University Library
          </option>
          <option value="Národní knihovna">Národní knihovna</option>
          <option value="Oberösterreichisches Landesarchiv">
            Oberösterreichisches Landesarchiv
          </option>
          <option
            value="Oddělení pro studium a edici díla J.A. Komenského, Filosofický ústav AVČR"
          >
            Oddělení pro studium a edici díla J.A. Komenského, Filosofický ústav
            AVČR
          </option>
          <option value="Oesterreichische Nationalbibliothek">
            Oesterreichische Nationalbibliothek
          </option>
          <option
            value="Osterreichisches Staatsarchiv - Allgemeines Verwaltungsarchiv"
          >
            Osterreichisches Staatsarchiv - Allgemeines Verwaltungsarchiv
          </option>
          <option
            value="Otto von Guericke Universität - Universitätsbibliothek"
          >
            Otto von Guericke Universität - Universitätsbibliothek
          </option>
          <option value="Oxford University Archives">
            Oxford University Archives
          </option>
          <option value="Palazzo Colonna">Palazzo Colonna</option>
          <option value="Parker Library, Corpus Christi College">
            Parker Library, Corpus Christi College
          </option>
          <option value="Parliamentary Archives">Parliamentary Archives</option>
          <option value="Paul Mellon Centre for Studies in British Art">
            Paul Mellon Centre for Studies in British Art
          </option>
          <option value="Pembroke College">Pembroke College</option>
          <option value="Pembroke College, Cambridge">
            Pembroke College, Cambridge
          </option>
          <option
            value="Pepys Library, Magdalene College, University of Cambridge"
          >
            Pepys Library, Magdalene College, University of Cambridge
          </option>
          <option value="Petworth House">Petworth House</option>
          <option value="Pfälzische Landesbibliothek">
            Pfälzische Landesbibliothek
          </option>
          <option value="Plymouth and West Devon Record Office">
            Plymouth and West Devon Record Office
          </option>
          <option value="Portsmouth History Centre">
            Portsmouth History Centre
          </option>
          <option value="Present whereabouts unknown">
            Present whereabouts unknown
          </option>
          <option
            value="Present whereabouts unknown (last recorded in Sotheby's sale)"
          >
            Present whereabouts unknown (last recorded in Sotheby's sale)
          </option>
          <option
            value="Present whereabouts unknown (recorded in Fichier Charavay)"
          >
            Present whereabouts unknown (recorded in Fichier Charavay)
          </option>
          <option value="Princeton University Library">
            Princeton University Library
          </option>
          <option value="Private Collection (Earl of Elgin)">
            Private Collection (Earl of Elgin)
          </option>
          <option
            value="Private Collection (Mr Arthur A. Houghton jun., Queenstown, Maryland, USA)"
          >
            Private Collection (Mr Arthur A. Houghton jun., Queenstown,
            Maryland, USA)
          </option>
          <option value="Private collection">Private collection</option>
          <option
            value="Private collection (Archives de la famille d'Amboix de Larbont)"
          >
            Private collection (Archives de la famille d'Amboix de Larbont)
          </option>
          <option
            value="Private collection (Blair Family, Baronets of Blairquhan)"
          >
            Private collection (Blair Family, Baronets of Blairquhan)
          </option>
          <option
            value="Private collection (Collection of Baron de Rennette, Braine-le-Château)"
          >
            Private collection (Collection of Baron de Rennette,
            Braine-le-Château)
          </option>
          <option value="Private collection (Fondation Turrettini)">
            Private collection (Fondation Turrettini)
          </option>
          <option value="Private collection (John Murray Publishers)">
            Private collection (John Murray Publishers)
          </option>
          <option value="Private collection (Leslie family of Warthill)">
            Private collection (Leslie family of Warthill)
          </option>
          <option value="Private collection (Los Angeles, Dean Jean Phillipps)">
            Private collection (Los Angeles, Dean Jean Phillipps)
          </option>
          <option value="Private collection (Ronald Hamburger, M.D.)">
            Private collection (Ronald Hamburger, M.D.)
          </option>
          <option
            value="Private collection (Signor Giancarlo Brazetti, Bologna)"
          >
            Private collection (Signor Giancarlo Brazetti, Bologna)
          </option>
          <option value="Private collection (The Hyde Collection)">
            Private collection (The Hyde Collection)
          </option>
          <option value="Public Record Office of Northern Ireland">
            Public Record Office of Northern Ireland
          </option>
          <option value="Pulkovo Astronomical Observatory">
            Pulkovo Astronomical Observatory
          </option>
          <option value="Queen's College Library, University of Oxford">
            Queen's College Library, University of Oxford
          </option>
          <option value="Queens' College Library, University of Cambridge">
            Queens' College Library, University of Cambridge
          </option>
          <option value="Ratsschulbibliothek Zwickau">
            Ratsschulbibliothek Zwickau
          </option>
          <option value="Real Academia de la Historia">
            Real Academia de la Historia
          </option>
          <option value="Real Biblioteca del Monasterio del Escorial">
            Real Biblioteca del Monasterio del Escorial
          </option>
          <option value="Redwood Library">Redwood Library</option>
          <option value="Regionaal Archief Alkmaar">
            Regionaal Archief Alkmaar
          </option>
          <option value="Regionaal Archief Dordrecht">
            Regionaal Archief Dordrecht
          </option>
          <option value="Remonstrantse Kerk">Remonstrantse Kerk</option>
          <option value="Representative Church Body Library, Church of Ireland">
            Representative Church Body Library, Church of Ireland
          </option>
          <option value="Rhode Island Historical Society">
            Rhode Island Historical Society
          </option>
          <option value="Rigsarkivet">Rigsarkivet</option>
          <option value="Rijksprentenkabinet, Rijksmuseum Amsterdam">
            Rijksprentenkabinet, Rijksmuseum Amsterdam
          </option>
          <option value="Riksarkivet">Riksarkivet</option>
          <option
            value="Robert H. Taylor Collection, Princeton University Library Special Collections"
          >
            Robert H. Taylor Collection, Princeton University Library Special
            Collections
          </option>
          <option value="Rosenbach Museum and Library">
            Rosenbach Museum and Library
          </option>
          <option value="Royal Academy of Arts">Royal Academy of Arts</option>
          <option value="Royal Astronomical Society">
            Royal Astronomical Society
          </option>
          <option value="Royal College of Physicians of Ireland">
            Royal College of Physicians of Ireland
          </option>
          <option value="Royal College of Surgeons">
            Royal College of Surgeons
          </option>
          <option value="Royal Greenwich Observatory Library">
            Royal Greenwich Observatory Library
          </option>
          <option value="Royal Institute of British Architects">
            Royal Institute of British Architects
          </option>
          <option value="Royal Institution of Cornwall">
            Royal Institution of Cornwall
          </option>
          <option value="Royal Irish Academy">Royal Irish Academy</option>
          <option value="Royal Society Library">Royal Society Library</option>
          <option value="Royal Society of Arts">Royal Society of Arts</option>
          <option value="Russian State Archive of Early Acts [RGADA]">
            Russian State Archive of Early Acts [RGADA]
          </option>
          <option value="SUB Göttingen">SUB Göttingen</option>
          <option value="Salzburg Universitätsbibliothek">
            Salzburg Universitätsbibliothek
          </option>
          <option value="Schleswig-Holsteinische Landesbibliothek">
            Schleswig-Holsteinische Landesbibliothek
          </option>
          <option value="Schloss Breitenburg">Schloss Breitenburg</option>
          <option value="Science Museum">Science Museum</option>
          <option value="Senate House Library">Senate House Library</option>
          <option value="Sheffield City Archives">
            Sheffield City Archives
          </option>
          <option value="Sheffield University Library">
            Sheffield University Library
          </option>
          <option value="Shirburn Castle">Shirburn Castle</option>
          <option value="Sidney Sussex College, University of Cambridge">
            Sidney Sussex College, University of Cambridge
          </option>
          <option value="Sir John Soane's Museum Archive">
            Sir John Soane's Museum Archive
          </option>
          <option value="Smithsonian Institution, The Bern Dibner Library">
            Smithsonian Institution, The Bern Dibner Library
          </option>
          <option value="Society of Antiquaries of London Library">
            Society of Antiquaries of London Library
          </option>
          <option value="Society of Friends, Library of the">
            Society of Friends, Library of the
          </option>
          <option value="Somerset Heritage Centre">
            Somerset Heritage Centre
          </option>
          <option value="Southampton Archives Services">
            Southampton Archives Services
          </option>
          <option value="Spalding Gentlemen's Society">
            Spalding Gentlemen's Society
          </option>
          <option value="St Andrews University Library">
            St Andrews University Library
          </option>
          <option value="St John's College Library, University of Cambridge">
            St John's College Library, University of Cambridge
          </option>
          <option value="Staats- und Stadtbibliothek Augsburg">
            Staats- und Stadtbibliothek Augsburg
          </option>
          <option value="Staats- und Universitatsbibliothek Bremen">
            Staats- und Universitatsbibliothek Bremen
          </option>
          <option value="Staats- und Universitätsbibliothek Hamburg">
            Staats- und Universitätsbibliothek Hamburg
          </option>
          <option value="Staatsarchiv">Staatsarchiv</option>
          <option value="Staatsarchiv">Staatsarchiv</option>
          <option value="Staatsarchiv Bamberg">Staatsarchiv Bamberg</option>
          <option value="Staatsarchiv Basel-Stadt">
            Staatsarchiv Basel-Stadt
          </option>
          <option value="Staatsarchiv Bremen">Staatsarchiv Bremen</option>
          <option value="Staatsarchiv Hamburg">Staatsarchiv Hamburg</option>
          <option value="Staatsarchiv Ludwigsburg">
            Staatsarchiv Ludwigsburg
          </option>
          <option value="Staatsarchiv Nürnberg">Staatsarchiv Nürnberg</option>
          <option value="Staatsarchiv Rudolstadt">
            Staatsarchiv Rudolstadt
          </option>
          <option value="Staatsarchiv des Kantons Zürich">
            Staatsarchiv des Kantons Zürich
          </option>
          <option value="Staatsbibliothek Bamberg">
            Staatsbibliothek Bamberg
          </option>
          <option value="Staatsbibliothek zu Berlin – Preußischer Kulturbesitz">
            Staatsbibliothek zu Berlin – Preußischer Kulturbesitz
          </option>
          <option value="Stadsarchief Amsterdam">Stadsarchief Amsterdam</option>
          <option value="Stadsarchief Delft">Stadsarchief Delft</option>
          <option value="Stadsarchief Rotterdam">Stadsarchief Rotterdam</option>
          <option value="Stadsarchief en Athenaeumbibliotheek">
            Stadsarchief en Athenaeumbibliotheek
          </option>
          <option value="Stadtarchiv Ingolstadt">Stadtarchiv Ingolstadt</option>
          <option value="Stadtarchiv Magdeburg">Stadtarchiv Magdeburg</option>
          <option value="Stadtarchiv Nürnberg">Stadtarchiv Nürnberg</option>
          <option value="Stadtarchiv St Gallen">Stadtarchiv St Gallen</option>
          <option value="Stadtarchiv Stuttgart">Stadtarchiv Stuttgart</option>
          <option value="Stadtbibliothek Nürnberg">
            Stadtbibliothek Nürnberg
          </option>
          <option value="Stadtbibliothek Schaffhausen">
            Stadtbibliothek Schaffhausen
          </option>
          <option value="Stadtbibliothek Ulm">Stadtbibliothek Ulm</option>
          <option value="Stadtbibliothek, Lübeck">
            Stadtbibliothek, Lübeck
          </option>
          <option value="Staffordshire Record Office">
            Staffordshire Record Office
          </option>
          <option value="State Historical Museum">
            State Historical Museum
          </option>
          <option value="Stockholm University Library">
            Stockholm University Library
          </option>
          <option value="Strahovská knihovna">Strahovská knihovna</option>
          <option value="Streekarchief Voorne–Putten">
            Streekarchief Voorne–Putten
          </option>
          <option value="Státní oblastní archív v Zámrsku">
            Státní oblastní archív v Zámrsku
          </option>
          <option value="Sächsisches Staatsarchiv – Hauptstaatsarchiv Dresden">
            Sächsisches Staatsarchiv – Hauptstaatsarchiv Dresden
          </option>
          <option value="Tartu University Library">
            Tartu University Library
          </option>
          <option value="Texas Christian University Library">
            Texas Christian University Library
          </option>
          <option value="Teylers Stichting">Teylers Stichting</option>
          <option
            value="The Huguenot Library, University College London Special Collections"
          >
            The Huguenot Library, University College London Special Collections
          </option>
          <option value="The Linnean Society of London">
            The Linnean Society of London
          </option>
          <option value="The Morgan Library &amp; Museum">
            The Morgan Library &amp; Museum
          </option>
          <option value="The National Archives (UK)">
            The National Archives (UK)
          </option>
          <option value="The National Archives of Latvia">
            The National Archives of Latvia
          </option>
          <option value="The University of Manchester Library">
            The University of Manchester Library
          </option>
          <option value="The Vyne">The Vyne</option>
          <option value="Thorvaldsens Museum Arkivet">
            Thorvaldsens Museum Arkivet
          </option>
          <option value="Thüringer Universitäts- und Landesbibliothek, Jena">
            Thüringer Universitäts- und Landesbibliothek, Jena
          </option>
          <option value="Thüringisches Hauptstaatsarchiv Weimar">
            Thüringisches Hauptstaatsarchiv Weimar
          </option>
          <option value="Tresoar">Tresoar</option>
          <option value="Trinity College Dublin">Trinity College Dublin</option>
          <option value="Trinity College Library, University of Cambridge">
            Trinity College Library, University of Cambridge
          </option>
          <option value="UNC University Libraries">
            UNC University Libraries
          </option>
          <option value="Unitätsarchiv Herrnhut">Unitätsarchiv Herrnhut</option>
          <option value="Universiteit Leiden, Letterenfaculteit">
            Universiteit Leiden, Letterenfaculteit
          </option>
          <option value="Universiteit van Amsterdam, Bijzondere Collecties">
            Universiteit van Amsterdam, Bijzondere Collecties
          </option>
          <option value="Universiteitsbibliotheek Gent">
            Universiteitsbibliotheek Gent
          </option>
          <option value="Universiteitsbibliotheek Groningen">
            Universiteitsbibliotheek Groningen
          </option>
          <option value="Universiteitsbibliotheek Leiden">
            Universiteitsbibliotheek Leiden
          </option>
          <option value="Universiteitsbibliotheek Utrecht">
            Universiteitsbibliotheek Utrecht
          </option>
          <option
            value="University College London Library, Special Collections"
          >
            University College London Library, Special Collections
          </option>
          <option
            value="University Libraries, Special Collections, University of Minnesota"
          >
            University Libraries, Special Collections, University of Minnesota
          </option>
          <option value="University of Aberdeen Library">
            University of Aberdeen Library
          </option>
          <option value="University of Chicago Library">
            University of Chicago Library
          </option>
          <option value="University of Copenhagen, Arnamagnaean Collection">
            University of Copenhagen, Arnamagnaean Collection
          </option>
          <option value="University of Rochester Libraries">
            University of Rochester Libraries
          </option>
          <option value="University of Toronto Libraries">
            University of Toronto Libraries
          </option>
          <option value="University of Virginia Library">
            University of Virginia Library
          </option>
          <option value="Universitäts- und Landesbibliothek Düsseldorf">
            Universitäts- und Landesbibliothek Düsseldorf
          </option>
          <option value="Universitäts- und Landesbibliothek Münster">
            Universitäts- und Landesbibliothek Münster
          </option>
          <option value="Universitätsarchiv Tübingen">
            Universitätsarchiv Tübingen
          </option>
          <option value="Universitätsbibliothek Basel">
            Universitätsbibliothek Basel
          </option>
          <option value="Universitätsbibliothek Bonn">
            Universitätsbibliothek Bonn
          </option>
          <option value="Universitätsbibliothek Erlangen-Nürnberg">
            Universitätsbibliothek Erlangen-Nürnberg
          </option>
          <option value="Universitätsbibliothek Giessen">
            Universitätsbibliothek Giessen
          </option>
          <option value="Universitätsbibliothek Heidelberg">
            Universitätsbibliothek Heidelberg
          </option>
          <option value="Universitätsbibliothek J.C. Senckenberg">
            Universitätsbibliothek J.C. Senckenberg
          </option>
          <option value="Universitätsbibliothek Kassel">
            Universitätsbibliothek Kassel
          </option>
          <option value="Universitätsbibliothek Leipzig">
            Universitätsbibliothek Leipzig
          </option>
          <option value="Universitätsbibliothek Tübingen">
            Universitätsbibliothek Tübingen
          </option>
          <option value="Universitätsbibliothek Wien">
            Universitätsbibliothek Wien
          </option>
          <option
            value="Universitätsbibliothek der Ludwig-Maximilians-Universität"
          >
            Universitätsbibliothek der Ludwig-Maximilians-Universität
          </option>
          <option value="Unknown repository">Unknown repository</option>
          <option value="Uppsala universitetsbibliotek">
            Uppsala universitetsbibliotek
          </option>
          <option value="Van Pelt-Dietrich Library">
            Van Pelt-Dietrich Library
          </option>
          <option value="Vrije Universiteit Amsterdam Library">
            Vrije Universiteit Amsterdam Library
          </option>
          <option value="Warwickshire County Record Office">
            Warwickshire County Record Office
          </option>
          <option value="Wellcome Library">Wellcome Library</option>
          <option value="West Sussex Record Office">
            West Sussex Record Office
          </option>
          <option value="West Yorkshire Archives (Bradford)">
            West Yorkshire Archives (Bradford)
          </option>
          <option value="West Yorkshire Archives (Calderdale)">
            West Yorkshire Archives (Calderdale)
          </option>
          <option value="West Yorkshire Archives (Kirklees)">
            West Yorkshire Archives (Kirklees)
          </option>
          <option value="West Yorkshire Archives (Leeds)">
            West Yorkshire Archives (Leeds)
          </option>
          <option value="West Yorkshire Archives (Wakefield)">
            West Yorkshire Archives (Wakefield)
          </option>
          <option value="Wienbibliothek im Rathaus">
            Wienbibliothek im Rathaus
          </option>
          <option
            value="William Andrews Clark Memorial Library, University of California"
          >
            William Andrews Clark Memorial Library, University of California
          </option>
          <option
            value="Wiltshire Archaeological and Natural History Society Library"
          >
            Wiltshire Archaeological and Natural History Society Library
          </option>
          <option value="Wiltshire and Swindon History Centre">
            Wiltshire and Swindon History Centre
          </option>
          <option value="Wisbech &amp; Fenland Museum">
            Wisbech &amp; Fenland Museum
          </option>
          <option value="Woburn Abbey">Woburn Abbey</option>
          <option value="Woodhorn Museum and Northumberland Archives">
            Woodhorn Museum and Northumberland Archives
          </option>
          <option value="Worcester College Library, University of Oxford">
            Worcester College Library, University of Oxford
          </option>
          <option value="Wrocław University Library">
            Wrocław University Library
          </option>
          <option value="Württembergische Landesbibliothek Stuttgart">
            Württembergische Landesbibliothek Stuttgart
          </option>
          <option value="Yale Center for British Art">
            Yale Center for British Art
          </option>
          <option value="Yorkshire Archaeological Society">
            Yorkshire Archaeological Society
          </option>
          <option value="Zeeuws Archief">Zeeuws Archief</option>
          <option value="Zeeuwse Bibliotheek">Zeeuwse Bibliotheek</option>
          <option value="Zemský archiv v Opavě, pobočka Olomouc">
            Zemský archiv v Opavě, pobočka Olomouc
          </option>
          <option value="Zentralbibliothek Zürich">
            Zentralbibliothek Zürich
          </option></select
        ><span
          class="select2 select2-container select2-container--default"
          dir="ltr"
          style="width: 582px"
          ><span class="selection"
            ><span
              class="select2-selection select2-selection--single"
              role="combobox"
              aria-haspopup="true"
              aria-expanded="false"
              title=""
              tabindex="0"
              aria-labelledby="select2-repository-container"
              ><span
                class="select2-selection__rendered"
                id="select2-repository-container"
                title="all repositories"
                >all repositories</span
              ><span class="select2-selection__arrow" role="presentation"
                ><b role="presentation"></b></span></span></span
          ><span class="dropdown-wrapper" aria-hidden="true"></span
        ></span>
      </div>
      <div class="small-1 columns">
        <span
          data-tooltip=""
          aria-haspopup="true"
          class="has-tip tip-top"
          data-selector="tooltip-lz9klwc51c"
          aria-describedby="tooltip-lz9klwc51c"
          title=""
        >
          <img
            style="min-width: 25px; text-align: left"
            class="help"
            src="/static/img/icon-help.png"
            alt="Help"
          />
        </span>
      </div>
    </div>

    <label for="let_shel">Shelfmark / ID</label>
    <div class="row">
      <div class="small-11 columns">
        <input
          id="let_shel"
          name="let_shel"
          type="text"
          class="text"
          value="all shelfmarks"
          onfocus="
javascript:textClear(this);"
          onblur="
javascript:textFill(this);"
        />
      </div>
      <div class="small-1 columns">
        <span
          data-tooltip=""
          aria-haspopup="true"
          class="has-tip tip-top"
          data-selector="tooltip-lz9klwc51d"
          aria-describedby="tooltip-lz9klwc51d"
          title=""
        >
          <img
            style="min-width: 25px; text-align: left"
            class="help"
            src="/static/img/icon-help.png"
            alt="Help"
          />
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Printed Editions</legend>

    <label for="let_pe_tex">Printed Editions</label>
    <div class="row">
      <div class="small-11 columns">
        <input
          id="let_pe_tex"
          name="let_pe_tex"
          type="text"
          class="text"
          value="all printed editions"
          onfocus="
javascript:textClear(this);"
          onblur="
javascript:textFill(this);"
        />
      </div>
      <div class="small-1 columns">
        <span
          data-tooltip=""
          aria-haspopup="true"
          class="has-tip tip-top"
          data-selector="tooltip-lz9klwc51e"
          aria-describedby="tooltip-lz9klwc51e"
          title=""
        >
          <img
            style="min-width: 25px; text-align: left"
            class="help"
            src="/static/img/icon-help.png"
            alt="Help"
          />
        </span>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns end">
        <div class="row">
          <div class="small-10 columns">
            <input
              type="checkbox"
              id="let_pe"
              name="let_pe"
              value="true"
              class="checkbox"
            />

            <label for="let_pe">Only with printed editions</label>
          </div>
          <div class="small-2 columns">
            <span
              data-tooltip=""
              aria-haspopup="true"
              class="has-tip tip-top"
              data-selector="tooltip-lz9klwc51f"
              aria-describedby="tooltip-lz9klwc51f"
              title=""
            >
              <img
                style="min-width: 25px; text-align: left"
                class="help"
                src="/static/img/icon-help.png"
                alt="Help"
              />
            </span>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <input
    name="submit-advanced"
    type="submit"
    class="button submit search-related"
    value="Search"
  />
</div>
