<div class="section clearfix" id="institutions_section">
  <hr class="yellow-divider" />
  
  <h3>
    <img
      src="/static/img/icon-repository.png"
      alt="Repositories and Editions Icon"
    />Repositories and Editions
  </h3>

  <fieldset>
    <legend>Repositories</legend>

    <div 
      data-delay="2.0"
      data-tip="Confine your search to a particular library or archive."
      class="row">
      <div class="small-11 columns">
        <label for="repository">Repository</label>
        <div id="repository-dropdown" style="padding: 0px 30px;"></div>
      </div>
      <div>
        {% include 'components/common/help_icon.jinja2' %}
      </div>
    </div>

    <div
      data-delay="2.0"
      data-tip="Search for letters by their shelfmark or another repository identifier, e.g. 'Tanner', 'Rawl', or 'MS Smith'. 
      <br/><br/>Search is not case sensitive." 
      class="row">
      <div class="small-11 columns">
        <label for="let_shel">Shelfmark / ID</label>
        <input
          id="let_shel"
          name="let_shel"
          type="text"
          class="text"
          value="all shelfmarks"
          data-default="all shelfmarks"
          onfocus="textClear(this);"
          onblur="textFill(this);"
        />
      </div>
      <div>
        {% include 'components/common/help_icon.jinja2' %}
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Printed editions</legend>

    <div
      data-delay="2.0"
      data-tip="Search across the titles of books and pamphlets in which printed versions of letters appear. 
      <br/><br/>Search is not case sensitive."
      class="row">
      <div class="small-11 columns">
        <label for="let_pe_tex">Printed editions</label>
        <input
          id="let_pe_tex"
          name="let_pe_tex"
          type="text"
          class="text"
          value="all printed editions"
          data-default="all printed editions"
          onfocus="textClear(this);"
          onblur="textFill(this);"
        />
      </div>
      <div>
        {% include 'components/common/help_icon.jinja2' %}
      </div>
    </div>

    <div
      data-delay="2.0"
      data-tip="Confine your search to letters that exist in printed versions." 
      class="row" style="padding-left: 0px;"> 
      <div class="small-5 columns">
        <input
          type="checkbox"
          id="let_pe"
          name="let_pe"
          value="false"
          onchange="changeCheckboxValue(this)"
          class="checkbox"
        />

        <label for="let_pe">Only with printed editions</label>
      </div>
      <div class="small-7 columns">
        {% include 'components/common/help_icon_nolabel.jinja2' %}
      </div>
    </div>
  </fieldset>

  <button onclick="advanceSearch()" name="submit-advanced" type="submit" class="button submit search-related">Search</button>
</div>
