<div class="section clearfix">
  <hr class="yellow-divider" />
  
  <h3><img src="/static/img/icon-quill.png" alt="Content Icon" />Content</h3>

  {% include 'components/advance/content/content.jinja2' %}

  {% include 'components/advance/content/postage_marks.jinja2' %}

  {% include 'components/advance/content/endorsements.jinja2' %}

  {% include 'components/advance/content/enclosures.jinja2' %}


  <fieldset>
    <legend>Seals</legend>

    <label for="let_seal_tex">Search seals</label>
    <div class="row">
      <div class="small-11 columns">
        <input
          id="let_seal_tex"
          name="let_seal_tex"
          type="text"
          class="text"
          value="all seals"
          data-default="all seals"
          onfocus="textClear(this);"
          onblur="textFill(this);"
        />
      </div>
      <div class="small-1 columns">
        <span
          data-tooltip=""
          aria-haspopup="true"
          class="has-tip tip-top"
          data-selector="tooltip-lz9klwc514"
          aria-describedby="tooltip-lz9klwc514"
          title=""
        >
          <img
            style="min-width: 25px; text-align: left"
            class="help"
            src="/static/img/icon-help.png"
            alt="Help"
          />
        </span>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns end">
        <div class="row">
          <div class="small-10 columns">
            <input
              type="checkbox"
              id="let_seal"
              name="let_seal"
              value="false"
              onchange="changeCheckboxValue(this)"
              class="checkbox"
            />

            <label for="let_seal">Only with seals</label>
          </div>
          <div class="small-2 columns">
            <span
              data-tooltip=""
              aria-haspopup="true"
              class="has-tip tip-top"
              data-selector="tooltip-lz9klwc515"
              aria-describedby="tooltip-lz9klwc515"
              title=""
            >
              <img
                style="min-width: 25px; text-align: left"
                class="help"
                src="/static/img/icon-help.png"
                alt="Help"
              />
            </span>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Paper</legend>

    <label for="let_pap_typ_tex">Paper type</label>
    <div class="row">
      <div class="small-11 columns">
        <input
          id="let_pap_typ_tex"
          name="let_pap_typ_tex"
          type="text"
          class="text"
          value="all paper types"
          data-default="all paper types"
          onfocus="textClear(this);"
          onblur="textFill(this);"
        />
      </div>
      <div class="small-1 columns">
        <span
          data-tooltip=""
          aria-haspopup="true"
          class="has-tip tip-top"
          data-selector="tooltip-lz9klwc516"
          aria-describedby="tooltip-lz9klwc516"
          title=""
        >
          <img
            style="min-width: 25px; text-align: left"
            class="help"
            src="/static/img/icon-help.png"
            alt="Help"
          />
        </span>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns end">
        <div class="row">
          <div class="small-10 columns">
            <input
              type="checkbox"
              id="let_pap_typ"
              name="let_pap_typ"
              value="false"
              onchange="changeCheckboxValue(this)"
              class="checkbox"
            />

            <label for="let_pap_typ">Only with paper type</label>
          </div>
          <div class="small-2 columns">
            <span
              data-tooltip=""
              aria-haspopup="true"
              class="has-tip tip-top"
              data-selector="tooltip-lz9klwc517"
              aria-describedby="tooltip-lz9klwc517"
              title=""
            >
              <img
                style="min-width: 25px; text-align: left"
                class="help"
                src="/static/img/icon-help.png"
                alt="Help"
              />
            </span>
          </div>
        </div>
      </div>
    </div>

    <label for="let_pap_siz_tex">Paper Sizes</label>
    <div class="row">
      <div class="small-11 columns">
        <input
          id="let_pap_siz_tex"
          name="let_pap_siz_tex"
          type="text"
          class="text"
          value="all paper sizes"
          data-default="all paper sizes"
          onfocus="textClear(this);"
          onblur="textFill(this);"
        />
      </div>
      <div class="small-1 columns">
        <span
          data-tooltip=""
          aria-haspopup="true"
          class="has-tip tip-top"
          data-selector="tooltip-lz9klwc518"
          aria-describedby="tooltip-lz9klwc518"
          title=""
        >
          <img
            style="min-width: 25px; text-align: left"
            class="help"
            src="/static/img/icon-help.png"
            alt="Help"
          />
        </span>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns end">
        <div class="row">
          <div class="small-10 columns">
            <input
              type="checkbox"
              id="let_pap_siz"
              name="let_pap_siz"
              value="false"
              onchange="changeCheckboxValue(this)"
              class="checkbox"
            />

            <label for="let_pap_siz">Only with paper sizes</label>
          </div>
          <div class="small-2 columns">
            <span
              data-tooltip=""
              aria-haspopup="true"
              class="has-tip tip-top"
              data-selector="tooltip-lz9klwc519"
              aria-describedby="tooltip-lz9klwc519"
              title=""
            >
              <img
                style="min-width: 25px; text-align: left"
                class="help"
                src="/static/img/icon-help.png"
                alt="Help"
              />
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <label>Page count</label>
        <div class="row">
          <div class="small-10 columns">
            <input
              type="checkbox"
              id="let_page"
              name="let_page"
              value="false"
              onchange="changeCheckboxValue(this)"
              class="checkbox"
            />

            <label for="let_page">Only with page count</label>
          </div>
          <div class="small-2 columns">
            <span
              data-tooltip=""
              aria-haspopup="true"
              class="has-tip tip-top"
              data-selector="tooltip-lz9klwc51a"
              aria-describedby="tooltip-lz9klwc51a"
              title=""
            >
              <img
                style="min-width: 25px; text-align: left"
                class="help"
                src="/static/img/icon-help.png"
                alt="Help"
              />
            </span>
          </div>
        </div>
      </div>

      <div class="small-4 columns end">
        <label for="let_page_min">Minimum number of pages</label>
        <div class="row">
          <div class="small-9 columns">
            <select
              id="let_page_min"
              name="let_page_min"
              title=""
              class="numbers"
            >
              <option class="default" value="0" selected="selected">
                any number
              </option>

              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>20</option>
              <option>30</option>
              <option>40</option>
              <option>50</option>
              <option>100</option>
            </select>
          </div>
          <div class="small-3 columns">
            <span
              data-tooltip=""
              aria-haspopup="true"
              class="has-tip tip-top"
              data-selector="tooltip-lz9klwc51b"
              aria-describedby="tooltip-lz9klwc51b"
              title=""
            >
              <img
                style="min-width: 25px; text-align: left"
                class="help"
                src="/static/img/icon-help.png"
                alt="Help"
              />
            </span>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <button onclick="advanceSearch()" name="submit-advanced" type="submit" class="button submit search-related">Search</button>
</div>
