
  <h3><img src="/static/img/icon-quill.png" alt="Content Icon" />Content</h3>

  {% include 'components/advance/content/content.jinja2' %}

  {% include 'components/advance/content/postage_marks.jinja2' %}

  {% include 'components/advance/content/endorsements.jinja2' %}

  {% include 'components/advance/content/enclosures.jinja2' %}

  {% include 'components/advance/content/seal.jinja2' %}

  {% include 'components/advance/content/paper.jinja2' %}


  <button onclick="advanceSearch()" name="submit-advanced" type="submit" class="button submit search-related">Search</button>
