<div class="section clearfix">
  <hr class="yellow-divider" />
  
  <h3><img src="/static/img/icon-globe.png" alt="Places Icon" />Places</h3>

  <fieldset>
    <legend>All places</legend>

    <label for="locations">Name</label>
    <div class="row">
      <div class="small-11 columns">
        <input
          id="locations"
          name="locations"
          type="text"
          class="text"
          value="{{ locations if locations else 'all places' }}" 
        />
      </div>
      <div class="small-1 columns">
        <span
          data-tooltip=""
          aria-haspopup="true"
          class="has-tip tip-top"
          data-selector="tooltip-lz9klwc5l"
          aria-describedby="tooltip-lz9klwc5l"
          title=""
        >
          <img
            style="min-width: 25px; text-align: left"
            class="help"
            src="/static/img/icon-help.png"
            alt="Help"
          />
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Origin</legend>

    <label for="pla_ori_name">Name</label>
    <div class="row">
      <div class="small-11 columns">
        <input
          id="pla_ori_name"
          name="pla_ori_name"
          type="text"
          class="text"
          value="all origins"
        />
      </div>
      <div class="small-1 columns">
        <span
          data-tooltip=""
          aria-haspopup="true"
          class="has-tip tip-top"
          data-selector="tooltip-lz9klwc5m"
          aria-describedby="tooltip-lz9klwc5m"
          title=""
        >
          <img
            style="min-width: 25px; text-align: left"
            class="help"
            src="/static/img/icon-help.png"
            alt="Help"
          />
        </span>
      </div>
    </div>

    <div class="row">
      <div class="small-4 columns">
        <input
          type="checkbox"
          id="pla_ori_mark"
          name="pla_ori_mark"
          value="false"
          onchange="changeCheckboxValue(this)"
          class="checkbox"
        />

        <label for="pla_ori_mark">As marked</label>
      </div>
      <div class="small-1 columns end">
        <span
          data-tooltip=""
          aria-haspopup="true"
          class="has-tip tip-top"
          data-selector="tooltip-lz9klwc5n"
          aria-describedby="tooltip-lz9klwc5n"
          title=""
        >
          <img
            style="min-width: 25px; text-align: left"
            class="help"
            src="/static/img/icon-help.png"
            alt="Help"
          />
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Destination</legend>

    <label for="pla_des_name">Name</label>
    <div class="row">
      <div class="small-11 columns">
        <input
          id="pla_des_name"
          name="pla_des_name"
          type="text"
          class="text"
          value="all destinations"
        />
      </div>
      <div class="small-1 columns">
        <span
          data-tooltip=""
          aria-haspopup="true"
          class="has-tip tip-top"
          data-selector="tooltip-lz9klwc5o"
          aria-describedby="tooltip-lz9klwc5o"
          title=""
        >
          <img
            style="min-width: 25px; text-align: left"
            class="help"
            src="/static/img/icon-help.png"
            alt="Help"
          />
        </span>
      </div>
    </div>

    <div class="row">
      <div class="small-4 columns">
        <input
          type="checkbox"
          id="pla_des_mark"
          name="pla_des_mark"
          value="false"
          onchange="changeCheckboxValue(this)"
          class="checkbox"
        />

        <label for="pla_des_mark">As marked</label>
      </div>
      <div class="small-1 columns end">
        <span
          data-tooltip=""
          aria-haspopup="true"
          class="has-tip tip-top"
          data-selector="tooltip-lz9klwc5p"
          aria-describedby="tooltip-lz9klwc5p"
          title=""
        >
          <img
            style="min-width: 25px; text-align: left"
            class="help"
            src="/static/img/icon-help.png"
            alt="Help"
          />
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Places mentioned</legend>

    <label for="pla_ment_name">Name</label>
    <div class="row">
      <div class="small-11 columns">
        <input
          id="pla_ment_name"
          name="pla_ment_name"
          type="text"
          class="text"
          value="all places mentioned"
        />
      </div>
      <div class="small-1 columns">
        <span
          data-tooltip=""
          aria-haspopup="true"
          class="has-tip tip-top"
          data-selector="tooltip-lz9klwc5q"
          aria-describedby="tooltip-lz9klwc5q"
          title=""
        >
          <img
            style="min-width: 25px; text-align: left"
            class="help"
            src="/static/img/icon-help.png"
            alt="Help"
          />
        </span>
      </div>
    </div>
  </fieldset>

  <button onclick="advanceSearch()" name="submit-advanced" type="submit" class="button submit search-related">Search</button>
</div>
