
  <h3><img src="/static/img/icon-globe.png" alt="Places Icon" />Places</h3>

  <fieldset>
    <legend>All places</legend>

    <div
      data-delay="2.0"
      data-tip="Search the places that letters were sent from or to, e.g. 'Queen's College', 'Paris', or 'Spain'. Search is not case sensitive." 
      class="row">
      <div class="small-11 columns">
        <label for="locations">Name</label>
        <input
          id="locations"
          name="locations"
          type="text"
          class="text"
          value="{{ locations if locations else 'all places' }}" 
          data-default="all places"
          onfocus="textClear(this);"
          onblur="textFill(this);"
        />
      </div>
      <div>
        {% include 'components/common/help_icon.jinja2' %}
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Origin</legend>

    <div
      data-delay="2.0"
      data-tip="Search the places that letters were sent from, e.g. 'Queen's College', 'Paris', or 'Spain'. Search is not case sensitive." 
      class="row">
      <div class="small-11 columns">
        <label for="pla_ori_name">Name</label>
        <input
          id="pla_ori_name"
          name="pla_ori_name"
          type="text"
          class="text"
          value="all origins"
          data-default="all origins"
          onfocus="textClear(this);"
          onblur="textFill(this);"
        />
      </div>
       <div>
        {% include 'components/common/help_icon.jinja2' %}
      </div>
    </div>

    <div data-delay="2.0" data-tip="Search place names exactly as they were expressed in the original letters." class="row">
      <div class="small-4 columns">
        <input
          type="checkbox"
          id="pla_ori_mark"
          name="pla_ori_mark"
          value="false"
          onchange="changeCheckboxValue(this)"
          class="checkbox"
        />

        <label for="pla_ori_mark">As marked</label>
      </div>
      <div>
        {% include 'components/common/help_icon_nolabel.jinja2' %}
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Destination</legend>

    
    <div
      data-delay="2.0" 
      data-tip="Search the places that letters were sent to, e.g. 'Queen's College', 'Paris', or 'Spain'. Search is not case sensitive."   
      class="row">
      <div class="small-11 columns">
        <label for="pla_des_name">Name</label>
        <input
          id="pla_des_name"
          name="pla_des_name"
          type="text"
          class="text"
          value="all destinations"
          data-default="all destinations"
          onfocus="textClear(this);"
          onblur="textFill(this);"
        />
      </div>
       <div>
        {% include 'components/common/help_icon.jinja2' %}
      </div>
    </div>

    <div data-delay="2.0" data-tip="Search place names exactly as they were expressed in the original letters."  class="row">
      <div class="small-4 columns">
        <input
          type="checkbox"
          id="pla_des_mark"
          name="pla_des_mark"
          value="false"
          onchange="changeCheckboxValue(this)"
          class="checkbox"
        />

        <label for="pla_des_mark">As marked</label>
      </div>
       <div>
        {% include 'components/common/help_icon_nolabel.jinja2' %}
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Places mentioned</legend>

    <div
      data-delay="2.0" 
      data-tip="Search for places mentioned, e.g. 'Queen's College', 'Paris', or 'Spain'. Search is not case sensitive. You can also browse by Place.
      <br/>This information has not been captured systematically.
      <br/>You can also search Content for mentions of places.
"   
      class="row">
      <div class="small-11 columns">
        <label for="pla_ment_name">Name</label>
        <input
          id="pla_ment_name"
          name="pla_ment_name"
          type="text"
          class="text"
          value="all places mentioned"
          data-default="all places mentioned"
          onfocus="textClear(this);"
          onblur="textFill(this);"
        />
      </div>
     <div>
        {% include 'components/common/help_icon.jinja2' %}
      </div>
    </div>
  </fieldset>

  <button onclick="advanceSearch()" name="submit-advanced" type="submit" class="button submit search-related">Search</button>
