
  <h3>
    <img
      src="/static/img/icon-related-resources.png"
      alt="Repositories and Editions Icon"
    />Resources within EMLO
  </h3>

  <fieldset>
    <div
      data-delay="2.0"
      data-tip="Confine your search to letters for which we have images." 
      class="row">
      <div class="columns small-12 large-4">
        <label>Only with</label>
        <div class="row">
          <div class="small-9 columns">
            <input
              type="checkbox"
              id="let_ima"
              name="let_ima"
              value="false"
              onchange="changeCheckboxValue(this)"
              class="checkbox"
            />

            <label for="let_ima">images</label>
          </div>
          <div>
            {% include 'components/common/help_icon_nolabel.jinja2' %}
          </div>
        </div>
      </div>
    </div>

      <div
        data-delay="2.0"
        data-tip="Confine your search to letters for which we have abstracts."  
        class="columns small-12 large-4">
        <label>Only with</label>
        <div class="row">
          <div class="small-9 columns">
            <input
              type="checkbox"
              id="let_abst"
              name="let_abst"
              value="false"
              onchange="changeCheckboxValue(this)"
            />

            <label for="let_abst">abstracts</label>
          </div>
          <div>
            {% include 'components/common/help_icon_nolabel.jinja2' %}
          </div>
        </div>
      </div>

      <div 
        data-delay="2.0"
        data-tip="Confine your search to letters for which we have full-text transcriptions."
        class="columns small-12 large-4">
        <label>Only with</label>
        <div class="row">
          <div class="small-9 columns">
            <input
              type="checkbox"
              id="let_trans"
              name="let_trans"
              value="false"
              onchange="changeCheckboxValue(this)"
              class="checkbox"
            />

            <label for="let_trans">transcriptions</label>
          </div>
          <div>
            {% include 'components/common/help_icon_nolabel.jinja2' %}
          </div>
        </div>
      </div>
  </fieldset>

  <button onclick="advanceSearch()" name="submit-advanced" type="submit" class="button submit search-related">Search</button>
