{% extends "base.jinja2" %}

{% block title %}Browse{% endblock %}

{% block extra_stylesheets %}
<style>
ul.alphabet li, ul.numbers li {
    background-color: #ddd;
    margin-left: 4px;
}
.pagination-centered ul.pagination li {
    margin-bottom: 5px;
}

ul.pagination li a {
    color:black;
}
</style>
{% endblock %}

{% block content %}

    <br><br>
    <div class="panel">
        <div class="row">
            {# Space #}
            <div class="columns hide-for-small hide-for-medium large-2">
            </div>

            <div class="columns small-12 large-10">
                <ul class="small-block-grid-3 medium-block-grid-6 large-block-grid-6">

                    <li><h3>Browse by</h3></li>

                    <li class="stats-text text-center active"><a href="{{ url_for('browse.people') }}">
                    <img src="{{ url_for('static', filename='img/icon-stats-people.png') }}" alt="People icon" class="stats-icon"><br>People</a></li>

                    <li class="stats-text text-center"><a href="{{ url_for('browse.locations') }}">
                    <img src="{{ url_for('static', filename='img/icon-stats-locations.png') }}" alt="Locations icon" class="stats-icon"><br>Locations</a></li>

                    <li class="stats-text text-center"><a href="{{ url_for('browse.organisations') }}">
                    <img src="{{ url_for('static', filename='img/icon-stats-organisations.png') }}" alt="Organizations icon" class="stats-icon"><br>Organizations</a></li>

                    <li class="stats-text text-center"><a href="{{ url_for('browse.institutions') }}">
                    <img src="{{ url_for('static', filename='img/icon-stats-repositories.png') }}" alt="Repositories icon" class="stats-icon"><br>Repositories</a></li>

                    <li class="stats-text text-center"><a href="{{ url_for('browse.works') }}">
                    <img src="{{ url_for('static', filename='img/icon-stats-works.png') }}" alt="Years icon" class="stats-icon"><br>Years</a></li>

                </ul>
            </div>
        </div>
	</div>

    <div id="browse-content" class="row">
        {% block browse_content %}{% endblock %}
    </div>

{% endblock %}


{% block extra_js_bottom %}
{% endblock extra_js_bottom %}