{% extends "base.jinja2" %}

{% block title %}Profile{% endblock %}


{% block content %}
   <div class="row">
        <div class="large-2 columns"><!-- dummy column -->&nbsp;</div>
        
        <div class="large-10 columns" style="padding-left:25px">
            <div class="row" id="main">

			    <div class="columns large-9 large-push-1">
                    <br />
                        <h2> Heading section </h2>
                    <br />

                     
                </div>
            </div>
            Something
            {# footer #}
            
        </div>
    </div>
{% endblock %}


{% block extra_js_bottom %}
   
{% endblock extra_js_bottom %}