{# TODO: Change the URL to this application URL #}
<div class="panel">
    <div class="row">
    
        <h2 style="margin-left: 15px">Featured catalogues</h2>

        <div class="item large-4 medium-4 small-12 columns">
            <a
            class="link"
            href="http://emlo-portal.bodleian.ox.ac.uk/collections/?catalogue=johann-maier-von-eck"
            >
            <div class="image">
                <img
                src="/static/img/Eck_Johann_Maier_von.jpg"
                alt="Catalog blog image1"
                />
            </div>
            <h3 class="title">The Correspondence of Johann Maier von Eck</h3>
            </a>
        </div>

        <div class="item large-4 medium-4 small-12 columns">
            <a
            class="link"
            href="http://emlo-portal.bodleian.ox.ac.uk/collections/?catalogue=royal-society-early-letters"
            >
            <div class="image">
                <img
                src="/static/img/Hooke-R_crop.jpg"
                alt="Catalog blog image2"
                />
            </div>
            <h3 class="title">The Royal Society Early Letters</h3>
            </a>
        </div>

        <div class="item large-4 medium-4 small-12 columns">
            <a
            class="link"
            href="http://emlo-portal.bodleian.ox.ac.uk/collections/?catalogue=antoinette-bourignon"
            >
            <div class="image">
                <img
                src="/static/img/Bourignon_crop.jpg"
                alt="Catalog blog image3"
                />
            </div>
            <h3 class="title">The Correspondence of Antoinette Bourignon</h3>
            </a>
        </div>
    
    </div>
</div>
