{# TODO: The values have to be dynamic in nature #}
<div class="row">
      <div class="large-12 columns">
        <ul class="small-block-grid-2 medium-block-grid-5 large-block-grid-10">
          <li class="stats-text text-center">
            <img
              src="/static/img/icon-stats-people.png"
              alt="People icon"
              class="stats-icon"
            /><br />
            36262<br />
            <a href="{{ url_for('browse.people') }}"> People</a>
          </li>

          <li class="stats-text text-center">
            <img
              src="/static/img/icon-stats-locations.png"
              alt="Locations icon"
              class="stats-icon"
            /><br />
            7610<br />
            <a href="{{ url_for('browse.locations') }}">
              Locations</a
            >
          </li>

          <li class="stats-text text-center">
            <img
              src="/static/img/icon-stats-organisations.png"
              alt="Organisations icon"
              class="stats-icon"
            /><br />
            1435<br />
            <a href="{{ url_for('browse.organisations') }}">
              Organisations</a
            >
          </li>

          <li class="stats-text text-center">
            <img
              src="/static/img/icon-stats-repositories.png"
              alt="Repositories icon"
              class="stats-icon"
            /><br />
            593<br />
            <a href="{{ url_for('browse.institutions') }}">
              Repositories</a
            >
          </li>

          <li class="stats-text text-center">
            <img
              src="/static/img/icon-stats-Catalogues.png"
              alt="Catalogues icon"
              class="stats-icon"
            /><br />
            223<br />
            <a
              href="{{ url_for('collections.collections') }}"
            >
              Catalogues</a
            >
          </li>

          <li class="stats-text text-center">
            <img
              src="/static/img/icon-stats-works.png"
              alt="Letters icon"
              class="stats-icon"
            /><br />
            214014<br />
            Letters
          </li>

          <li class="stats-text text-center">
            <img
              src="/static/img/icon-stats-manifestations.png"
              alt="Versions icon"
              class="stats-icon"
            /><br />
            269495<br />
            Versions
          </li>

          <li class="stats-text text-center">
            <img
              src="/static/img/icon-stats-images.png"
              alt="Images icon"
              class="stats-icon"
            /><br />
            11242<br />
            Images
          </li>

          <li class="stats-text text-center">
            <img
              src="/static/img/icon-stats-comments.png"
              alt="Comments icon"
              class="stats-icon"
            /><br />
            87715<br />
            Comments
          </li>

          <li class="stats-text text-center">
            <img
              src="/static/img/icon-stats-related%20resources.png"
              alt="Resources icon"
              class="stats-icon"
            /><br />
            220192<br />
            Resources
          </li>
        </ul>
        <!-- end block grid -->
      </div>
      <!-- div column -->
    </div>