<div id="details">

    <div class="column profilepart">
        <h3>
            <img src="{{ url_for('static', filename='img/icon-people.png') }}" alt="Details icon">
            Details
        </h3>
        <div class="content">
            <dl>
            </dl>
        </div>
    </div>
    

    <div class="column profilepart">
        <h3>
            <img src="{{ url_for('static', filename='img/icon-calendar.png') }}" alt="Dates icon">
            Dates
        </h3>
        <div class="content">
            <dl>
                <dt>Date of birth</dt>
                <dd> DATE GOES HERE </dd>
                
                <dt>Date of death</dt>
                <dd> DATE GOES HERE </dd>
            </dl>
        </div>
    </div>


    <div class="column profilepart">
        <h3>
            <img src="{{ url_for('static', filename='img/icon-statistics.png') }}" alt="statistics icon">
            Catalogue Statistics
        </h3>
        <div class="content">
            <p class="highlight-box">
                {# TODO: Add the count in single line #}

                {# TODO: Add graph #}
            </p>
        </div>
    </div>

    <div class="column profilepart">
        <h3>
            <img src="{{ url_for('static', filename='img/icon-quill.png') }}" alt="quill icon">
            Letters Received
        </h3>
        <div class="content">
            <p class="highlight-box">
                {# Add a table #}
            </p>
        </div>
    </div>
