<div>
    <hr class="yellow-divider" />

    <h3>Citation Guidelines</h3>
    <p>
        Correct citation is vital both for responsible scholarship and to ensure that online resources are credited appropriately—in 
        the same manner as print resources—when they are used. As there are various resources hosted on EMLO, with various 
        contributors, please follow the guidelines below when citing your use of EMLO.
    </p>

    <p>
        <strong>How to cite the EMLO website or the EMLO dataset as a whole</strong>
        Howard Hotson and Miranda Lewis, eds, Early Modern Letters Online, http://emlo.bodleian.ox.ac.uk, 
        accessed [insert date in DD Month YYYY format].
    </p>

    <p>
        <strong>How to cite an early modern individual’s correspondence in EMLO</strong>
        If you wish to cite a sub-catalogue, please consult that individual catalogue’s accreditation page 
        (linked from here) to find out who has compiled the data. The correspondence may have been contributed by more 
        than one project or individual. If there are too many contributors to cite reasonably, please prioritise those 
        listed in the ‘Primary Contributors’ section of each relevant introductory page and append ‘et al.’. 
        When citing a catalogue, the format is: 
        <strong>Name of contributing project/editor(s) if applicable, ed. [or eds], 
        ‘Name of Catalogue’, in Name of Resource, Names of resource editors, URL of catalogue accreditation page, 
        date accessed.</strong> For example: Anna Marie Roos, ed., ‘The Correspondence of Martin Lister’, on Early Modern Letters Online [EMLO], ed. 
        Howard Hotson and Miranda Lewis, http://emlo.bodleian.ox.ac.uk/blog/?catalogue=martin-lister, accessed 1 January 2021.
    </p>

        <p>
        <strong>How to cite an individual item in EMLO</strong>
        Many scholars use EMLO as a finding aid for further research; if you consult external resources linked out to from EMLO, 
        please cite those resources. If you are citing specific EMLO content, please follow the guidelines below. When citing a 
        record, the structure is: <strong>Title of the record, in [EMLO reference, as above]</strong>, along with additional ID numbers 
        and names of contributors, where relevant. For example:

        A person record:
        Wren, Christopher (1632–1723), on Early Modern Letters Online, ed. Howard Hotson and Miranda Lewis, 
        emlo.bodleian.ox.ac.uk/p/22859, accessed 1 January 2021.

        A letter record:
        Author name to Recipient name, date of letter, in Name of contributing project/editor(s) if applicable, ed. 
        [eds], ‘Name of Catalogue’, on Early Modern Letters Online, ed. Howard Hotson and Miranda Lewis, URL of letter 
        record including ‘w/number’ accessed 1 January 2021.

        A translation or transcription hosted by EMLO:
        Author name to Recipient name, date of letter, translation by Name of Translator or Transcriber, on Early Modern
        Letters Online, ed. Howard Hotson and Miranda Lewis, URL of item, accessed 1 January 2021.

        A manuscript image hosted by EMLO:
        Author name to Recipient name, date of letter, Name of Repository, Shelfmark or access number, image consulted 
        on Early Modern Letters Online, ed. Howard Hotson and Miranda Lewis, URL of item, accessed 1 January 2021.

        N.B. images, translations and transcriptions must not be reproduced without express permission by the relevant 
        repository or author.
    </p>
</div>