<div>
    <hr class="yellow-divider" />
            
    <h3>Context</h3>
    <p>
        <i>Early Modern Letters Online </i>and its underlying editorial environment — 
        <a href="https://emlo-edit.bodleian.ox.ac.uk/interface/union.php">EMLO-Edit</a> — was built in less than 
        two years by developers from 
        <a href="https://www.bodleian.ox.ac.uk/about/libraries/our-work/digital-library">Bodleian Digital Library Systems and Services</a>
            (BDLSS), and it continues to be 
        developed and enhanced. It was created under the auspices of Phase I (2009–2012) of <a href="www.culturesofknowledge.org">Cultures of Knowledge</a>, 
        a collaboration between the <a gref="https://www.bodleian.ox.ac.uk/">Bodleian Library</a> and the 
        <a href="https://www.humanities.ox.ac.uk/">Humanities Division</a> of the University of Oxford with 
        generous funding from The <a href="https://www.mellon.org/">Andrew W. Mellon Foundation</a>. At present, it is funded very generously by the Packard 
        <a href="https://packhum.org/">Humanities Institute</a>. The union catalogue has been developed in the conviction that the digital revolution of 
        recent decades can provide tools which greatly facilitate study of the communications revolution of the early 
        modern era, and that a central, web-based inventory of early modern letters is needed to enable scholars to 
        navigate the ocean of correspondence from the period. 
        <strong>Bringing manuscript, print, and electronic resources 
        together in one space not only increases access to and awareness of them, but allows disparate and connected 
        correspondences to be cross-searched, combined, analysed and visualized. Moreover, the collection of 
        unprecedented quantities of metadata, and the standardization of the means of describing and processing them, 
        is the precondition for efficient collaborative work on the development of new digital tools, new scholarly 
        methods, and new historiographical insights in this large and central field.</strong> From Phase II (2013–2015) onwards, 
        Cultures of Knowledge has been turning outward and focusing more on what we can offer our community of 
        contributors as well as our catalogue users, transforming EMLO thereby into a resource, a platform, and a 
        toolset.
    </p>
</div>