<div>
    <hr class="yellow-divider" />
    
    <h3 id="contact">Contact</h3>
    <p>Find details on current members of the team at our project website: 
        <a href="http://www.culturesofknowledge.org/">www.culturesofknowledge.org</a>, and sign up to the CofK
        <a href="http://culturesofknowledge.us1.list-manage.com/subscribe?u=ea9eeaa201daa1ead1d607e4b&amp;id=4d56a55c06"> 
            mailing list
        </a> 
        to receive notifications when new catalogues are published.
        </p>

    <p> Email us at:<br>
        miranda.lewis(at)history.ox.ac.uk
    </p>

    <p> Write to us at:<br>
        <em>Early Modern Letters Online</em>
    <br>

    History Faculty<br>
    University of Oxford<br>
    George Street<br>
    Oxford<br>
    OX1 2RL</p>
    
    <p><a href="https://emlo.bodleian.ox.ac.uk/">http://emlo.bodleian.ox.ac.uk</a></p>
</div>
