<div>
    <hr class="yellow-divider">
    <h3> Copyright and Scholarly Responsibility</h3>

    <p>EMLO is provided free of charge for individual, non-commercial use 
    only. Users are expected to respect the copyright of the holders of the 
    original images and the creators of the transcriptions and translations 
    (where these are provided). In particular, images of letter documents in
    the catalogue are reproduced under licence from the libraries and 
    archives in possession of the originals (indicated clearly on image 
    profile pages) and must not be reproduced or redistributed in any form 
    without prior permission from the relevant repository.</p>
    
    <p>Where copyright exists (e.g. for images, transcriptions/translations,
    database rights, and calendars of correspondence), copyright remains 
    with the respective individuals and projects responsible for generating 
    them. Please see our citation guidelines and the primary contributor 
    information provided on the individual <a href="http://emlo.bodleian.ox.ac.uk/blog/?page_id=480">catalogue</a> pages.</p>
    
    <p><strong>It is important to note that:<br>
    The data for people, place, and letter records displayed in the public 
    interface of EMLO are protected by database rights; it is not 
    permissible to scrape or download bulk data from EMLO or to use EMLO 
    data in third-party tools without explicit permission. If you would like
    to use EMLO data in this way, please get in touch.</strong></p>
    
    <p>EMLO is a project built on cooperation and provides a scholarly 
    platform and resource for its contributors as well as its catalogue 
    users. As such, we see it as our responsibility to outline and abide by 
    ethical and scholarly principles, and these are outlined in their first 
    iteration below (2015):</p>
    
    <ol style="color:#757575">
        <li>Full and explicit credit to the original collector(s) will be provided for all metadata published on EMLO.</li>
        <li>All data (transcriptions/translations/images) published on EMLO will
        also be fully acknowledged and properly cited, and additional 
        permission sought where necessary from copyright holders.</li>
        <li>Where appropriate, formal recognition will be given to technical as well as scholarly contributors to the project.</li>
        <li>Disputed data/metadata will be clearly marked as such.</li>
        <li>Editorial responsibility for calendars resides in the first instance
        with the data contributor or source. If data is cleaned, corrected, 
        and/or amended, EMLO undertakes editorial responsibility for those 
        changes.</li>
        <li>EMLO works with the agreement of copyright owners when adding 
        copyrighted data to the union catalogue. In difficult situations, such 
        as unclear copyright or defunct publishers, every reasonable attempt 
        will be made to contact relevant parties to seek their collaboration and
        full support.</li>
        <li>Where a work is out of copyright and/or copyright does not reside in
        the metadata, every effort will nevertheless be made to contact the 
        original author/publisher of the source. Full credit and provenance 
        information will always be given to that source.</li>
        <li>In the event of a dispute, EMLO can remove data from the system.</li>
    </ol>
</div>