<div>
    <hr class="yellow-divider" />

    <h3>Known Issues</h3>
    
    <p>EMLO is an active, collaborative project in continual development. As
    such, problems are liable to arise within it on an ongoing basis, 
    including functional glitches as well as errors and inconsistencies in 
    the published data (involving, for example, misattributions of author, 
    recipient, or location of sending or receipt). Please be in touch should
    you notice anything erroneous or faulty, but rest assured that our team
    is working hard to make our data and our platform as problem- and 
    error-free as possible!</p>
    
    <p>As our catalogue grows, we grapple with new issues raised by 
    uploading metadata from disparate sources. This might result in the 
    occasional error or in inconsistencies in referencing practice that 
    we’ve not yet resolved. At the current state of development, for 
    instance, it is still possible that the same letter will appear in two 
    contributing catalogues, leading to double-counting of all the 
    overlapping metadata and erroneous results in the browse screens. 
    Additionally, live people and place records may include in their 
    catalogue statistics totals letter records that are soon to be published
    but not yet available. We are planning a long-term resolution of this 
    issue, so please bear with us.</p>
    
    <p>Finally, our work on prosopography is still in its early stages, and 
    therefore any publication of this data should be regarded as an advanced
    prototype for future work. Although the factual content has been 
    researched meticulously, the presentation of this data and its 
    functionality may well go through several iterations before the 
    prosopographical pilot projects are integrated seamlessly into EMLO.</p>
</div>