{# Loading base files for edges #}
<script type="text/javascript" src="{{ url_for('static', filename='libs/edges/vendor/jquery-3.6.0/jquery-3.6.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/edges/src/edges.js') }}"></script>
    
{# Loading datasource files for edges #}
<script type="text/javascript" src="{{ url_for('static', filename='libs/edges/src/datasources/solr9x.js') }}"></script>

{# Loading edges default template #}
<script type="text/javascript" src="{{ url_for('static', filename='libs/edges/src/templates/bs3/Facetview.js') }}"></script>

