{# Loading base files for edges #}
<script type="text/javascript" src="../static/libs/edges/vendor/jquery-3.6.0/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../static/libs/edges/src/edges.js"></script>
    
{# Loading datasource files for edges #}
<script type="text/javascript" src="../static/libs/edges/src/datasources/solr9x.js"></script>

{# Loading edges components #}
<script type="text/javascript" src="../static/libs/edges/src/components/RefiningANDTermSelector.js"></script>
<script type="text/javascript" src="../static/libs/edges/src/components/ResultsDisplay.js"></script>
<script type="text/javascript" src="../static/libs/edges/src/components/FullSearchController.js"></script>
{# Loading edges default template #}
<script type="text/javascript" src="../static/libs/edges/src/templates/bs3/Facetview.js"></script>

{# Loading edges renderer #}
<script type="text/javascript" src="../static/libs/edges/src/renderers/bs3/RefiningANDTermSelector.js"></script>
<script type="text/javascript" src="../static/libs/edges/src/renderers/bs3/ResultsFieldsByRow.js"></script>
<script type="text/javascript" src="../static/libs/edges/src/renderers/bs3/FullSearchController.js"></script>
<script type="text/javascript" src="../static/libs/edges/src/renderers/bs5/SearchBox.js"></script>