<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <title>Early Modern Letter Online : {{ title }}</title>
    {% block extra_stylesheets %}{% endblock %}
    <script>
        function quickSearch(event) {
            event.preventDefault();

            try {
                const searchQuery = document.getElementById("all_search").value

                window.location.href = `${window.location.origin}/forms/advance?everything=${searchQuery}&search_type=quick`
            } catch(err) {
                console.error(err)
            } 
        }
    </script>
</head>
<body>
    <!-- START header / menu -->
    <div class="contain-to-grid yellow-bg">
        <nav class="top-bar yellow-bg" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1>
                        <a style="min-width:152px" class="no-decoration" href="/" accesskey="1">
                            <img style="width:152px;"
                                src="{{ url_for('static', filename='img/emlo_logo.png') }}"
                                alt="EMLO logo"
                                class="show-for-large-up menu-name"/>
                        </a>
                        <strong>
                            <a class="no-decoration hide-for-large-up" href="/" accesskey="1">EMLO &nbsp;&nbsp;</a>
                        </strong>
                    </h1>
                </li>
                <li class="toggle-topbar menu-icon">
                    <a href="/">Menu</a>
                </li>
            </ul>

            <section class="top-bar-section yellow-bg">
                <!-- Left Nav Section -->
                <ul class="left yellow-bg">
                    <li><a href="{{ url_for('home.home') }}">Home</a></li>
                    <li><a href="{{ url_for('advance.advance') }}">Search+</a></li>
                    <li><a href="{{ url_for('browse.browse') }}">Browse</a></li>
                    <li><a href="http://emlo-portal.bodleian.ox.ac.uk/collections/?page_id=480">Collections</a></li>
                    <li><a href="{{ url_for('contribute.contribute') }}">Contribute</a></li>
                    <li><a href="{{ url_for('about.about') }}">About</a></li>
                </ul>

                <!-- Right Nav Section -->
                <ul class="right yellow-bg">
                    <!-- search bar -->
                    <li class="has-form">
                        <form onSubmit="quickSearch(event)" id="circle-search">
                            <div class="row">
                                <input style="position: static; margin-top: 7px" id="all_search" type="search" placeholder="Keywords..."/>
                            </div>
                        </form>
                    </li>
                    <!-- end of search bar -->
                </ul>

            </section>
        </nav>
    </div>
    <!-- END header / menu -->

    <!-- START content -->
    {% block content %}{% endblock %}
    <!-- END content -->

    <!-- START footer -->
    <div class="footer-divider">
        <div class="row footer">
            <div class="large-3 medium-6 columns centered">
                <a href="http://www.culturesofknowledge.org/" target="_blank">
                    <img src="{{ url_for('static', filename='img/CofKLogoBlack.png') }}"
                        alt="Cultures of Knowledge Logo"
                        class="hide-for-small"/>
                    <span class="hide-for-medium-up">Cultures of Knowledge</span>
                </a>
            </div>

            <div class="large-3  medium-6 columns centered">
                <a href="http://www.bodleian.ox.ac.uk/" target="_blank">
                    <img src="{{ url_for('static', filename='img/Bodleian_Libraries_logo.svg') }}"
                        alt="Bodleian Libraries Logo" width="120"
                        class="hide-for-small"
                        style="margin-left:40px;"/>
                    <span class="hide-for-medium-up">Bodleian Libraries</span>
                </a>
            </div>

            <div class="large-3 medium-6 columns centered">
                <a href="http://www.mellon.org/" target="_blank">
                    <img src="{{ url_for('static', filename='img/Andrew_Mellon_Foundation_logo.svg') }}"
                        alt="Andrew Mellon Foundation Logo" width="140"
                        class="hide-for-small"/>
                    <span class="hide-for-medium-up">Andrew Mellon Foundation</span>
                </a>
            </div>

            <div class="large-3 medium-6 columns centered">
                <a href="http://ox.ac.uk" target="_blank">
                    <img src="{{ url_for('static', filename='img/University_of_Oxford_logo.gif') }}"
                        alt="University of Oxford Logo"
                        class="hide-for-small"/>
                    <span class="hide-for-medium-up">University of Oxford</span>
                </a>
            </div>

        </div>
    </div>
    <!-- END footer -->

    {% block extra_js_bottom %}{% endblock %}
</body>
</html>
