{% extends "base.jinja2" %}

{% block title %}Browse{% endblock %}

{% block content %}
<div id="emlo-browse-list"></div>
{% endblock %}


{% block extra_js_bottom %}
    {% include "_edges_common_js.jinja2" %}
    <script type="module" src="../static/js/browse.edge.js"></script>
{% endblock extra_js_bottom %}