{% extends "base.jinja2" %}

{% block title %}{% endblock %}

{% block content %}
    <div id="main" class="row">

        <div class="column large-9 large-push-3">
            <br/>
            <h2>Missing</h2>
            <p>Sorry, that record has not been found, it may have been merged with another record. Sorry about that.</p>
            <br/><br/><br/>
        </div>
    </div>
{% endblock %}


{% block extra_js_bottom %}
{% endblock extra_js_bottom %}
