{% extends "base.jinja2" %}

{% block title %}Home{% endblock %}

{% block content %}
    {# Start EMLO intro #}
    <div class="row">

        <div class="large-2 columns"><!-- dummy column -->&nbsp;</div>

        <div class="large-10 columns" style="padding-left:25px">
            <br/>
            <h1>Welcome to Early Modern Letters Online</h1>

            <p>
                Created by the Cultures of Knowledge Project with generous funding from The Andrew W.
                Mellon Foundation, and now very generously funded by the Packard Humanities Institute,
                Early Modern Letters Online — EMLO — is a combined finding aid and editorial interface
                for basic descriptions of early modern correspondence.
            </p>
        </div>
    </div>
    {# END EMLO intro #}

    {# Start EMLO search #}
    <div id="search-form-section">
        {% include './components/home/search.jinja2' %}
    </div>
    {# End EMLO search #}

    {# START Catalogue statistics #}
    <div id="home-stats">
        {% include './components/home/stats.jinja2' %}
    </div>
    {# End Catalogue statistics #}

    {# START Featured catalogues #}
    <div id="catalogues">
        {% include './components/home/catalouge.jinja2' %}
    </div>
    {# End Featured catalogues #}

{% endblock %}


{% block extra_js_bottom %}
<script>
function changeEventOnFrom(val){
    dat_to_year = document.getElementById("dat_to_year")
    
    if(val == "all years") {
        dat_to_year.value = "all years"
    } else if(val > dat_to_year.value) {
        dat_to_year.value = val
    }
}

function changeEventOnTo(val){
    dat_from_year = document.getElementById("dat_from_year")
    
    if(val == "all years") {
        dat_from_year.value = "all years"
    } else if(val < dat_from_year.value) {
        dat_from_year.value = val
    } 
}
</script>
{% endblock extra_js_bottom %}
