{% extends "base.jinja2" %}

{% block title %}Profile{% endblock %}
{% block extra_stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chart.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}">
<style>
   .content{
    margin-left: 40px;
   }
   .tiny{
        padding-top: 0.625rem;
        padding-right: 1.25rem;
        padding-bottom: 0.6875rem;
        padding-left: 1.25rem;
        font-size: 0.6875rem;
    }
	h3.worklegend{font-size:25px !important;margin-top: 0.5rem;margin-bottom: 0.2rem;}
    .workspacing h4{
        margin-top: 0.5rem;margin-bottom: 0.2rem;
    }
	.profilepart h4{font-size:22px !important}
	.profilepart h5 { font-size: 20px !important; }
	p {
        font-family: "Arvo-sans", sans-serif;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.6;
        text-rendering: optimizeLegibility;
    }
	.people,.locations {
		margin-bottom: 17px;
		margin-left: 10px;
	}
	.fieldlabel { color:#172854; min-width: 120px; margin-right: 10px;display:inline-block }
	.flags{font-size:smaller}
	.flags:before { content:"("}
	.flags:after { content:")"}
	.profilepart .profilepart .content { margin-left: 6px; }
	.workspacing .display_details_of_one_object.true {
		border-left: 1px dashed #777;
		padding: 5px 0 5px 20px;
		margin-bottom: 10px;
	}
    h3,h4,h5,h6 {
        font-weight: normal;
        font-style: normal;
        text-rendering: optimizeLegibility;
    }
	.comment {
		margin-top: 10px;
	}
    #repo{
        display: none;
    }
    .highlight-box{
        margin-bottom: 20px;
    }
    #work-profile p{
        margin-bottom: 0px;
    }
    .large-9 {
        margin-left: 25px;
        width: 70%;
    }

</style>
{% endblock %}

{% block content %}
    <div id="profile-display" style="min-height: 300px;"></div>
{% endblock %}

{% block extra_js_bottom %}
    {% include "_edges_common_js.jinja2" %}
    <script type="module" src="{{ url_for('static', filename='js/profile.edges.js') }}"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/d3/d3.v3.min.js') }}"></script>

    <script type="module">
        import { searchQueryObj } from "{{ url_for('static', filename='js/search.js') }}";
        import { modifyCurrentSearch } from "{{ url_for('static', filename='js/helper/modifyCurrentSearch.js') }}";
        import { buildSolrQuery } from "{{ url_for('static', filename='js/helper/buildSolrQuery.js') }}";

        document.addEventListener('DOMContentLoaded', function() {
            const urlParams = new URLSearchParams(window.location.search);
            const uuid = urlParams.get('uuid');
            const type = urlParams.get('type');
            const start = parseInt(urlParams.get('start') || '0');
            const numFound = parseInt(urlParams.get('numFound') || '0');
            const sort = urlParams.get('sort');
            const letter = urlParams.get('letter');
            const browsing = urlParams.get('browsing');
            const uuids = urlParams.get('uuids');
            const filters = urlParams.get('filters');

            let modDoc = document.getElementById("modify-search")
            let controlDoc = document.getElementById("control")
            let backResultDoc = document.getElementById("back-to-results")
            let backBrowseDoc = document.getElementById("back-to-browse")

            const queryObj = searchQueryObj()


            const query = buildSolrQuery(queryObj.openingQuery)

            // Only make the API call if uuid, type, and start are present
            if (!isNaN(start) && (!isNaN(numFound) && numFound > 0  )) {
                let apiUrl = '/results?';
                let qAndOp = "{!q.op=AND} "

                if(queryObj.collection && queryObj.collection == "/solr/all/select") {
                    qAndOp = ""
                }

                if(query) apiUrl += `q=${qAndOp}${query}&`

                // Add parameters only if they exist
                if (uuid) apiUrl += `uuid=${uuid}&`;
                if (type) apiUrl += `type=${type}&`;
                if (!isNaN(start)) apiUrl += `start=${start}&`;
                if (!isNaN(numFound)) apiUrl += `numFound=${numFound}&`;
                if (sort) apiUrl += `sort=${sort}&`;
                if (uuids) apiUrl += `uuids=${uuids}&`;

                // Remove trailing '&' if exists
                apiUrl = apiUrl.endsWith('&') ? apiUrl.slice(0, -1) : apiUrl;

                // API call logic here
                fetch(apiUrl)
                    .then(response => response.json())
                    .then(data => {
                        const { first_entry, prev_entry, next_entry, last_entry } = data;

                        // Enable/Disable navigation buttons based on API response
                        if (!prev_entry) {
                            document.getElementById('prev-entry').disabled = true;
                        }
                        if (!next_entry) {
                            document.getElementById('next-entry').disabled = true;
                        }

                        if(start == 0) {
                            document.getElementById('first-entry').disabled = true;
                        }

                        if(start >= numFound - 1) {
                            document.getElementById('last-entry').disabled = true;
                        }

                        // Hide navigation buttons if start and numFound are missing
                        if (!urlParams.get('start') || !urlParams.get('numFound')) {
                            document.getElementById('navigation-buttons').style.display = 'none';
                        }

                         // Deleting start from params after adding it's value
                        urlParams.delete("start")
                        
                        // Set navigation button actions
                        document.getElementById('first-entry').onclick = () => window.location.href = `/profile/${first_entry.object_type}/${first_entry.uuid}?${urlParams}&start=0`;
                        document.getElementById('prev-entry').onclick = () => window.location.href = `/profile/${prev_entry.object_type}/${prev_entry.uuid}?${urlParams}&start=${start - 1}`;
                        document.getElementById('next-entry').onclick = () => window.location.href = `/profile/${next_entry.object_type}/${next_entry.uuid}?${urlParams}&start=${start + 1}`;
                        document.getElementById('last-entry').onclick = () => window.location.href = `/profile/${last_entry.object_type}/${last_entry.uuid}?${urlParams}&start=${numFound -1}`;

                        // Back to browse
                        if (browsing) {
                            backBrowseDoc.style.display = ""
                            document.getElementById('back-to-browse').onclick = () => window.location.href = `/browse/${browsing}?letter=${letter}&uuids=${uuids}&filters=${filters}`;
                        }

                        // Back to results
                        if (type) {
                            // enable divs
                           
                            if(!browsing) {
                                modDoc.style.display = "inline"
                            }

                           backResultDoc.style.display = "inline"
                           controlDoc.style.display = "inline"

                            const params = new URLSearchParams(window.location.search);

                            // Delete 'type' and 'numFound' if present
                            params.delete('type');
                            params.delete('numFound');

                            let pageNumber = 0;
                            const start = params.get("start")
                            if (start != null) {
                                // Calculate page number from start offset
                                pageNumber = Math.floor(start / 50) * 50;
                            }
                            
                            params.set('start' , pageNumber);
                            const newQuery = params.toString()
                            const href = newQuery ? `/forms/advanced?${newQuery}` : '/forms/advanced';
                            const modSearch =  newQuery ? `/advanced?${newQuery}` : '/advanced';
                            document.getElementById('back-to-results').onclick = () => window.location.href = href;
                            document.getElementById('modify-search').onclick = () => modifyCurrentSearch()
                        }

                        if(numFound && start >= 0) {
                            const count = document.getElementById("count-heading")
                            if(count) {
                                count.innerHTML = `Result ${start + 1} of ${numFound}`
                            }
                        }
                    });
            }

            // Initialize the map after rendering the HTML
            const checkMapElement = setInterval(function() {
                const mapElement = document.getElementById('location-map');

                if (mapElement) {
                    clearInterval(checkMapElement);
                    
                    const lat = mapElement.getAttribute("data-lat");
                    const long = mapElement.getAttribute("data-long");
                    
                    const map = L.map('location-map').setView([lat, long], 8); // Adjust zoom level as needed
                   
                    // Add OpenStreetMap tile layer
                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);

                    // Add a marker at the given lat, long
                    L.marker([lat, long]).addTo(map)
                        .bindPopup("Location: " + lat + ", " + long)
                        .openPopup();
                }
            }, 100);
        })
    </script>

{% endblock extra_js_bottom %}
