{% extends "/base/browse_base.jinja2" %}

{% block browse_content %}
    <div class="small-12 columns">
        <h2>People</h2>

        <br/>

        <div class="pagination-centered">
            {% include '/components/common/alphabet_pagination.jinja2' %}
        </div>

        <div>
            Aa gaya swad
        </div>
    </div>
{% endblock %}