{% extends "/base/browse_base.jinja2" %}

{% block browse_content %}
    <div class="row row-with-side">
      <div id="side-nav" class="side-nav" style="display: none;"> 
        <h2 class="main">Current Selection</h2>

        <div id="selected-items-list"></div>

        <div id="modify_search">
            <button onclick="searchLetters()">Show letters</button>
        </div>
      </div>

      <div class="row row-with-side" style="margin-left: 20px;">

        <div class="large-12 columns">
            <div id="people" class="large-12 columns">
                <br/>
                <h2 class="main">
                    <span id="result-header" class="font-18">
                        People
                    </span>

                    <br><br>
                </h2>
            </div>
   
             <div id="" class="large-12 columns">
                <div class="pagination-centered">
                    {% include '/components/common/alphabet_pagination.jinja2' %}
                </div>

                <div class="row">
                    <div id="browse-people-results"></div>
                </div>
            </div>
        </div>
      </div>
    </div>
{% endblock %}


{% block extra_js_bottom %}

{% include "_edges_common_js.jinja2" %}
<script type="module" src="../static/js/people.edges.js"></script>
{% endblock extra_js_bottom %} 