{% extends "/base/browse_base.jinja2" %}

{% block browse_content %}
    <div class="small-12 columns">
        <h2>Years</h2>

        <br/>


        <div class="row">
            
        </div>
    </div>
{% endblock %}