<fieldset>
    <legend>Content</legend>

    <div
      data-delay="2.0"
      data-tip="Search across abstracts, keywords, incipits, excipits, transcriptions, and enclosures, e.g. 'Spider' or 'Mathematics'. " 
      class="row">
      <div class="small-11 columns">
        <label for="let_con">Search content</label>
        <input
          id="let_con"
          name="let_con"
          type="text"
          class="text"
          value="{{ let_con if let_con else 'all content' }}" 
          data-default="all content"
          onfocus="textClear(this);"
          onblur="textFill(this);"
        />
      </div>
      <div>
        {% include 'components/common/help_icon.jinja2' %}
      </div>
    </div>

    <div
      data-delay="2.0" 
      data-tip="Confine your search to a particular document type."
      class="row">
      <div class="small-11 columns">
        <label for="let_type">Document type</label>
        <select id="let_type" name="let_type" title="" class="">
          <option class="default" selected="selected">all types</option>
          {% for document_type in document_types %}
          <option value="{{ document_type }}"> {{ document_type }} </option>
          {% endfor %}
        </select>
      </div>
      <div>
        {% include 'components/common/help_icon.jinja2' %}
      </div>
    </div>

    <div
      data-delay="2.0"
      data-tip="Confine your search to letters in a particular language." 
      class="row">
      <div class="small-11 columns">
        <label for="let_lang">Language</label>
        <select
          id="let_lang"
          name="let_lang"
          title=""
          class="select2-hidden-accessible"
          tabindex="-1"
          aria-hidden="true"
        >
          <option class="default" selected="selected">all languages</option>
          {% for language in languages %}
          <option value="{{ language }}">{{ language }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        {% include 'components/common/help_icon.jinja2' %}
      </div>
    </div>

    <div
      data-delay="2.0"
      data-tip="Confine your search to letters for which we have images." 
      class="row">
      <div class="columns small-12 large-4">
        <label>Only with</label>
        <div class="row">
          <div class="small-9 columns">
            <input
              type="checkbox"
              id="let_ima"
              name="let_ima"
              value="false"
              onchange="changeCheckboxValue(this)"
              class="checkbox"
            />

            <label for="let_ima">images</label>
          </div>
          <div>
            {% include 'components/common/help_icon.jinja2' %}
          </div>
        </div>
      </div>

      <div
        data-delay="2.0"
        data-tip="Confine your search to letters for which we have abstracts."  
        class="columns small-12 large-4">
        <label>Only with</label>
        <div class="row">
          <div class="small-9 columns">
            <input
              type="checkbox"
              id="let_abst"
              name="let_abst"
              value="false"
              onchange="changeCheckboxValue(this)"
            />

            <label for="let_abst">abstracts</label>
          </div>
          <div>
            {% include 'components/common/help_icon.jinja2' %}
          </div>
        </div>
      </div>

      <div 
        data-delay="2.0"
        data-tip="Confine your search to letters for which we have full-text transcriptions."
        class="columns small-12 large-4">
        <label>Only with</label>
        <div class="row">
          <div class="small-9 columns">
            <input
              type="checkbox"
              id="let_trans"
              name="let_trans"
              value="false"
              onchange="changeCheckboxValue(this)"
              class="checkbox"
            />

            <label for="let_trans">transcriptions</label>
          </div>
          <div>
            {% include 'components/common/help_icon.jinja2' %}
          </div>
        </div>
      </div>
    </div>
  </fieldset>