<div>
    <br/>
    <h1>Contribute</h1>
	
    <div>
		<p><strong>Early Modern Letters Online</strong> is a 
        collaboratively populated resource now moving towards collaborative 
        design and development. It has been designed as an open platform within 
        which scholars, research projects, archives, and libraries can collate, 
        store, publish, analyse, and visualize their epistolary data. It is 
        intended, therefore, to grow at the hands of a geographically dispersed 
        community of contributors.</p>

        <p>Meeting the <strong>needs of contributors</strong> is central to the 
        success of the project. Placing metadata in EMLO is intended to offer a 
        variety of contributors a range of advantages. The most basic of these 
        is the opportunity to archive their material on a ready made, easily 
        accessible, permanent, and prominent site, designed to high scholarly 
        standards, which they need not design, fund, build, or maintain. All 
        metadata is accredited in full, and contributors retain editorial 
        control over their material. As well as enhancing the discoverability of
        data both on the site and linked to from it, contribution facilitates 
        the study of the ways in which individual correspondences evolve over 
        time and interact with others. This study will be enhanced over the 
        coming years with on-board analytical and visualization tools 
        incorporated into EMLO in subsequent stages of development. The process 
        of submitting and curating your data is intended to be as trouble-free 
        as possible.</p>

        <p><strong>If you have metadata on early modern letters</strong>, we would like very much to <a href="http://emlo.bodleian.ox.ac.uk/about#contact">hear from you</a>.
        You might be an individual, a research or editorial project, a 
        publisher, or an institution, considering the contribution of your own 
        personal research spreadsheet, metadata from a scholarly edition, or a 
        subsection from a library catalogue.</p>
        <p>The process of submitting data to EMLO is designed to be as simple 
        and trouble-free as possible, whether you’re submitting existing data or
        starting from scratch — see below, and <a href="http://emlo.bodleian.ox.ac.uk/about#contact">get in touch</a>!
        </p>
</div>