<div>
    <hr class="yellow-divider" />
    
    <h3>2. Gather, Curate and Edit Your Data</h3>

    <p>If you’re just starting to collect your metadata, we have tools that 
    can help. EMLO has developed a variety of methods for harvesting a wide 
    range of metadata on early modern letters. 
    <a href="https://emlo-edit.bodleian.ox.ac.uk/interface/union.php" target="_blank">EMLO-Collect</a>
    is a secure and private platform within which you can gather and input 
    your data via the quick-use Webform, developed in 2014, which allows you
    to input data on letters, people, and places quickly and easily in 
    pre-standardized fashion, ready for publication on the union catalogue. 
    When you have finished entering your dataset, you can pass it through 
    editorial control into the main database, 
    <a href="https://emlo-edit.bodleian.ox.ac.uk/interface/union.php" target="_blank">EMLO-Edit</a>,
    which is where your metadata sits until you’re ready to publish it and 
    where it is accessible only via a controlled editorial gateway, thus 
    protecting your work-in-progress metadata and shared entities such as 
    people and places. The bespoke tools, forms, and files we have available
    for input may be used also to supplement catalogues already uploaded to
    EMLO.</p>
    
    <p>At every stage you can continue to work with your metadata, making 
    whatever changes, enhancements, or corrections you wish. Effectively a 
    bespoke content management system for early modern letters, EMLO-Edit is
    a powerful and user-friendly online publishing environment — designed 
    by and for our researchers and editors — and it allows you to oversee 
    refinement and annotation of your data in perpetuity across the full 
    seventy fields of the EMLO object model and to upload transcriptions and
    images (with, of course, appropriate permissions), without exposure to 
    underlying code. Everything versions (so nothing is lost), while audit 
    trails, personal spreadsheet exports (not available to members of the 
    public), and a host of other tracking services allow you to monitor and 
    manage your collections with ease.</p>
</div>