<div>
    <hr class="yellow-divider" />
    
    <h3>3. Publish Your Data</h3>
    
    <p>When you’re happy with your data in the hidden ‘back end’ of EMLO, it
    can be released at the click of a mouse to the public-facing user 
    interface — the part of the catalogue you’re in currently. This 
    interface interrogates the metadata for end users by means of a 
    sophisticated suite of search and discovery functions. Here, your 
    correspondents, their letters, and their locations will mingle publicly 
    with and enhance those of other denizens of the growing EMLO universe, 
    yet your collection can always be consulted and interrogated 
    individually. Record provenance (i.e. the name of the contributor) and 
    the date of the last edit are flagged clearly on each of our records; 
    you are welcome also to include links to related resources (perhaps your
    own project website or links to a hard-copy edition). Every letter 
    record links through also to your catalogue’s ‘front page’, on which 
    full information on the provenance of the data is provided. This is 
    where you may set out full details of the catalogue’s contents, images, 
    links, logos, and acknowledgements, thereby providing a stable reference
    and information point for the collection as a whole. Subsequently, 
    whenever you spot an error, would like to update information, add a 
    record, or enrich your data in other ways, edits are only a click or two
    away and all you need to do is be in touch.</p>
</div>