<div>
    <hr class="yellow-divider" />   

    <h3>1. Submit Existing Data</h3>
    
    <p>If your collection is a good fit for the catalogue, you can submit it
    to EMLO in a number of different formats: please contact us to discuss 
    options and details. Accuracy and editorial responsibility are vitally 
    important to us. During the data-upload process, we ensure that you, the
    expert on your dataset, advise on questions that crop up as we match 
    your particular dataset to our thousands of people and place records. At
    any stage you may enhance or work with your data, or add new records. 
    Only when you are ready is your material published, with full 
    accreditation on each record and a bespoke catalogue page providing 
    detail on content, provenance, and collaborators.</p>
</div>