<fieldset>
    <legend>All people</legend>

    <div
        data-delay="2.0" 
        data-tip="Search letters for authors/senders, addressees/recipients, and people mentioned, e.g. ‘Samuel Hartlib’, ‘John Aubrey’, or ‘The Royal Society’. Search is not case sensitive." 
        class="row data-tip-container"
    >
        
        <div class="large-11 small-10 columns">
            <label for="people">Name</label>
            <input
                id="people"
                name="people"
                type="text"
                class="text"
                value="{{ people if people else 'all people' }}"
                data-default="all people" 
                onfocus="textClear(this);"
                onblur="textFill(this);"
                title=""
            />
        </div>
        {% include 'components/common/help_icon.jinja2' %}
    </div>

    <div>
        <div
            data-delay="2.0"
            data-tip="Confine your search to male or female authors/senders, addressees/recipients, and people mentioned." 
            class="large-3 small-12 columns" 
            style="padding-left: 0px;">
            
            <div class="large-8 columns small-10" style="padding: 0px;">
                <label for="people_gend">Gender</label> 
                
                <select
                    id="people_gend"
                    name="people_gend"
                    title=""
                    class=""
                >
                    <option class="default" selected="selected">all</option>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                    <option value="unknown">unknown</option>
                </select>
            </div>

            <div>
                {% include 'components/common/help_icon.jinja2' %}
            </div>
        </div>

        <div 
            data-delay="2.0"
            data-tip="Confine your search to instances where the author/sender, addressee/recipient, or person mentioned was an organization or corporate entity, e.g. The Royal Society." 
            class="columns small-12 large-8 end">
            
            <div class="large-8 columns small-10">
                <label>&nbsp;<!-- for alignment--></label>
                <input
                type="checkbox"
                id="agent_org"
                name="agent_org"
                class="checkbox"
                value="false"
                onchange="changeCheckboxValue(this)"
                />

                <label for="agent_org">Only organizations</label>
            </div>
            <div>
                {% include 'components/common/help_icon.jinja2' %}
            </div>
        </div>
    </div>

    <div
        class="row"
        data-delay="2.0"
        data-tip="Search for people by title, role, or occupation, e.g. 'Bookseller' or 'Politician'. Search is not case sensitive. 
        <br/>Note that this information has not yet been captured for all people."
    >
        <div class="large-11 columns small-10">
            <label for="people_roles">Titles, roles, or occupations</label>
            <input
                id="people_roles"
                name="people_roles"
                type="text"
                class="text"
                value="all roles and titles"
                data-default="all roles and titles"
                onfocus="textClear(this);"
                onblur="textFill(this);"
            />
        </div>
        {% include 'components/common/help_icon.jinja2' %}
    </div>
</fieldset>