
<fieldset>
    <legend>People mentioned</legend>

    <div
        data-delay="2.0"
        data-tip="Search for people or organizations mentioned in letters, e.g. 'Samuel Hartlib', 'John Aubrey', or 'The Royal Society'. Search is not case sensitive.
        <br/> This information has not yet been captured systematically.
        <br/> You can also search Content for mentions of people and organizations." 
        class="row">
        <div class="small-11 columns">
            <label for="ment">Name</label>
            <input
                id="ment"
                name="ment"
                type="text"
                class="text"
                value="{{ ment if ment else 'all people mentioned' }}"
                data-default="all people mentioned" 
                onfocus="textClear(this);"
                onblur="textFill(this);"
            />
        </div>
        <div>
            {% include 'components/common/help_icon.jinja2' %}
        </div>
    </div>

    <div>

        <div
            data-delay="2.0"
            data-tip="Confine your search to male or female people mentioned in letters." 
            class="columns small-12 large-4"
            style="padding-left: 0px;"
        >
            <div class="large-9 columns" style="padding-left: 0px;">
                <label for="ment_gend">Gender</label>
                <select id="ment_gend" name="ment_gend" title="" class="">
                    <option class="default" selected="selected">all</option>
                    <option value="female">female</option>
                    <option value="male">male</option>
                    <option value="unknown">unknown</option>
                </select>
            </div>
            <div>
                {% include 'components/common/help_icon.jinja2' %}
            </div>
        </div>

        <div
            data-delay="2.0"
            data-tip="Confine your search to instances where the person mentioned was an organization or corporate entity, e.g. The Royal Society." 
            class="columns small-12 large-8 end">
            <div class="large-10 columns">
                <label>&nbsp;<!-- for alignment--></label>
                <input
                    type="checkbox"
                    id="ment_org"
                    name="ment_org"
                    value="false"
                    onchange="changeCheckboxValue(this)"
                    class="checkbox"
                />

                <label for="ment_org">Only organizations</label>
            </div>
            <div>
                {% include 'components/common/help_icon.jinja2' %}
            </div>
        </div>
    </div>

    <div
        data-delay="2.0"
        data-tip="Search for people mentioned in letters by title, role, or occupation, e.g. 'Bookseller' or 'Politician'. Search is not case sensitive.
            <br/>Note that this information hasn’t yet been captured for all people mentioned." 
        class="row">
        <div
            class="large-11 columns">
            <label for="ment_roles">Titles, roles, or occupations</label>
            <input
                id="ment_roles"
                name="ment_roles"
                type="text"
                class="text"
                value="all roles and titles"
                data-default="all roles and titles"
                onfocus="textClear(this);"
                onblur="textFill(this);"
            />
        </div>
        <div >
            {% include 'components/common/help_icon.jinja2' %}
        </div>
    </div>
</fieldset>