<fieldset>
    <legend>Recipients</legend>

    <div
        data-delay="2.0"
        data-tip="Search for addressees and recipients, e.g. ‘Samuel Hartlib’, ‘John Aubrey’, or ‘The Royal Society’. Search is not case sensitive." 
        class="row">
        <div class="small-11 columns">
            <label for="rec">Name</label>
            <input
                id="rec"
                name="rec"
                type="text"
                class="text"
                value="{{ rec if rec else 'all recipients' }}" 
                data-default="all recipients"
                onfocus="textClear(this);"
                onblur="textFill(this);"
            />
        </div>
        <div>
            {% include 'components/common/help_icon.jinja2' %}
        </div>
    </div>

    <div>
        <div
            data-delay="2.0"
            data-tip="Confine your search to male or female addressees or recipients." 
            class="columns small-12 large-4"
            style="padding-left: 0px;"
        >
            <div class="large-8 columns small-10" style="padding: 0px;">
                <label for="rec_gend">Gender</label>
                <select id="rec_gend" name="rec_gend" title="" class="">
                    <option class="default" selected="selected">all</option>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                    <option value="unknown">unknown</option>
                </select>
            </div>

            <div>
                {% include 'components/common/help_icon.jinja2' %}
            </div>
        </div>

        <div
            data-delay="2.0"
            data-tip="Confine your search to instances where the addressee or recipient was an organization or corporate entity, e.g. The Royal Society." 
            class="columns small-12 large-4"
        >
            <div class="row">
                <div class="large-9 columns small-10">
                    <label>&nbsp;<!-- for alignment--></label>
                    <input
                        type="checkbox"
                        id="rec_org"
                        name="rec_org"
                        value="false"
                        onchange="changeCheckboxValue(this)"
                        class="checkbox"
                    />

                    <label for="rec_org">Only organizations</label>
                </div>
                <div>
                    {% include 'components/common/help_icon.jinja2' %}
                </div>
            </div>
        </div>

        <div
            data-delay="2.0"
            data-tip="Search addressees’ and recipients’ personal names exactly as they were expressed in the original letters." 
            class="columns small-12 large-4" style="padding-left: 0px;"
        >
            <div class="large-10 columns small-10">
                <label>&nbsp;<!-- for alignment--></label>
                <input
                    type="checkbox"
                    id="rec_mark"
                    name="rec_mark"
                    value="false"
                    onchange="changeCheckboxValue(this)"
                    class="checkbox"
                />

                <label for="rec_mark">As marked</label>
            </div>
            <div>
                {% include 'components/common/help_icon.jinja2' %}
            </div>
        </div>
    </div>

    <div
        data-delay="2.0"
        data-tip="Search for addressees and recipients by title, role, or occupation, e.g. ‘Bookseller’ or ‘Politician’. Search is not case sensitive.
        <br/>Note that this information has not yet been captured for all people." 
        class="row"
    >
        <div class="large-11 columns small-10">
            <label for="rec_roles">Titles, roles, or occupations</label>
            <input
                id="rec_roles"
                name="rec_roles"
                type="text"
                class="text"
                value="all roles and titles"
                data-default="all roles and titles"
                onfocus="textClear(this);"
                onblur="textFill(this);"
            />
        </div>
        <div>
            {% include 'components/common/help_icon.jinja2' %}
        </div>
    </div>
</fieldset>