<fieldset>
    <legend>Senders</legend>

    <div 
        class="row"
        data-delay="2.0" 
        data-tip="Search for authors and senders, e.g. 'Samuel Hartlib', 'John Aubrey', or 'The Royal Society'. Search is not case sensitive." 
    >
        <div class="small-11 columns">
            <label for="aut">Name</label>
            <input
                id="aut"
                name="aut"
                type="text"
                class="text"
                value="{{ aut if aut else 'all senders' }}" 
                data-default="all senders"
                onfocus="textClear(this);"
                onblur="textFill(this);"
            />
        </div>
        {% include 'components/common/help_icon.jinja2' %}
    </div>

    <div>
        <div 
            data-delay="2.0"
            data-tip="Confine your search to male or female authors or senders." 
            class="columns small-12 large-2" 
            style="padding-left: 0px;"
        >
            <div class="large-7 columns" style="padding: 0px;">
                <label for="aut_gend">Gender</label>

                <select id="aut_gend" name="aut_gend" title="" class="">
                    <option class="default" selected="selected">all</option>
                    <option value="female">female</option>
                    <option value="male">male</option>
                    <option value="unknown">unknown</option>
                </select>
            </div>

            <div>
                {% include 'components/common/help_icon.jinja2' %}
            </div>
        </div>

        <div
            data-delay="2.0"
            data-tip="Confine your search to instances where the author, sender, recipient was an organization or corporate entity, e.g. The Royal Society." 
            class="columns small-12 large-6">
            <div class="large-9 columns">
                <label>&nbsp;<!-- for alignment--></label>
                <input
                    type="checkbox"
                    id="aut_org"
                    name="aut_org"
                    value="false"
                    onchange="changeCheckboxValue(this)"
                    class="checkbox"
                />

                <label for="aut_org">Only organizations</label>
            </div>

            <div>
                {% include 'components/common/help_icon.jinja2' %}
            </div>
        </div>

        <div
            data-delay="2.0"
            data-tip="Search authors' and senders' personal names exactly as they were expressed in the original letters." 
            class="columns small-12 large-4" style="padding-left: 0px;">
            <div class="large-9 columns">
                <label>&nbsp;<!-- for alignment--></label>
                <input
                    type="checkbox"
                    id="aut_mark"
                    name="aut_mark"
                    value="false"
                    onchange="changeCheckboxValue(this)"
                    class="checkbox"
                />
                <label for="aut_mark">As marked</label>
            </div>
            <div>
                {% include 'components/common/help_icon.jinja2' %}
            </div>
        </div>
    </div>

    <div
        data-delay="2.0"
        data-tip="Search for authors and senders by title, role, or occupation, e.g. 'Bookseller' or 'Politician'. 
            <br/>Note that this information hasn’t yet been captured for all senders." 
        class="row">

        <div class="large-11 columns">
            <label for="aut_roles">Titles, roles, or occupations</label>

            <input
                id="aut_roles"
                name="aut_roles"
                type="text"
                class="text"
                value="all roles and titles"
                data-default="all roles and titles"
                onfocus="textClear(this);"
                onblur="textFill(this);"
            />
        </div>

        <div>
            {% include 'components/common/help_icon.jinja2' %}
        </div>
    </div>
</fieldset>