<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Early Modern Letters Online</title>

    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <script src="{{ url_for('static', filename='dist/core.bundle.js') }}"></script>

    {#    <script src="{{ url_for('static', filename='dist/styles.bundle.js') }}"></script>#}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/styles.bundle.css') }}">

    {% block head %}{% endblock %}
</head>
<body>

<!-- START header / menu -->
<div class="contain-to-grid yellow-bg">
    <nav class="top-bar yellow-bg" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1>
                    <a style="min-width:152px" class="no-decoration" href="/" accesskey="1">
                        <img style="width:152px;"
                             src="{{ url_for('static', filename='img/emlo_logo.png') }}"
                             alt="EMLO logo"
                             class="show-for-large-up menu-name"/>
                    </a>
                    <strong>
                        <a class="no-decoration hide-for-large-up" href="/" accesskey="1">EMLO &nbsp;&nbsp;</a>
                    </strong>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="/">Menu</a>
            </li>
        </ul>

        <section class="top-bar-section yellow-bg">
            <!-- Left Nav Section -->
            <ul class="left yellow-bg">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="${items['url']}">Search+</a></li>
                <li><a href="{{ url_for('browse.home') }}">Browse</a></li>
                <li><a href="{{ COLLECTIONS_URL }}">Collections</a></li>
                <li><a href="{{ CONTRIBUTE_URL }}">Contribute</a></li>
                <li><a href="{{ ABOUT_URL }}">About</a></li>
            </ul>

            <!-- Right Nav Section -->
            <ul class="right yellow-bg">
                <!-- search bar -->
                <li class="has-form">
                    <form action="/forms/quick" method="get" id="circle-search">
                        <div class="row">
                            <input style="position: static; margin-top: 7px"
                                   name="everything" type="search" placeholder="Keywords..."/>
                            <input name="search_type" type="hidden" value="quick"/>
                        </div>
                    </form>
                </li>
                <!-- end of search bar -->
            </ul>

        </section>
    </nav>
</div>
<!-- END header / menu -->


<!-- START content -->
{% block content %}{% endblock %}
<!-- END content -->


<!-- START footer -->
<div class="footer-divider">
    <div class="row footer">
        <div class="large-3 medium-6 columns centered">
            <a href="http://www.culturesofknowledge.org/" target="_blank">
                <img src="{{ url_for('static', filename='img/CofKLogoBlack.png') }}"
                     alt="Cultures of Knowledge Logo"
                     class="hide-for-small"/>
                <span class="hide-for-medium-up">Cultures of Knowledge</span>
            </a>
        </div>

        <div class="large-3  medium-6 columns centered">
            <a href="http://www.bodleian.ox.ac.uk/" target="_blank">
                <img src="{{ url_for('static', filename='img/Bodleian_Libraries_logo.svg') }}"
                     alt="Bodleian Libraries Logo" width="120"
                     class="hide-for-small"
                     style="margin-left:40px;"/>
                <span class="hide-for-medium-up">Bodleian Libraries</span>
            </a>
        </div>

        <div class="large-3 medium-6 columns centered">
            <a href="http://www.mellon.org/" target="_blank">
                <img src="{{ url_for('static', filename='img/Andrew_Mellon_Foundation_logo.svg') }}"
                     alt="Andrew Mellon Foundation Logo" width="140"
                     class="hide-for-small"/>
                <span class="hide-for-medium-up">Andrew Mellon Foundation</span>
            </a>
        </div>

        <div class="large-3 medium-6 columns centered">
            <a href="http://ox.ac.uk" target="_blank">
                <img src="{{ url_for('static', filename='img/University_of_Oxford_logo.gif') }}"
                     alt="University of Oxford Logo"
                     class="hide-for-small"/>
                <span class="hide-for-medium-up">University of Oxford</span>
            </a>
        </div>

    </div>
</div>
<!-- END footer -->

</body>
</html>