{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='dist/styles.bundle.css') }}">
<script src="{{ url_for('static', filename='dist/core.bundle.js') }}"></script>

<link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">

{% endblock %}

{% block content %}

<!--                        KTODO extract img page with variable -->
<div class="contain-to-grid yellow-bg">
    <nav class="top-bar yellow-bg" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1>
                    <a style="min-width:152px" class="no-decoration" href="/" accesskey="1">
                    <img style="width:152px;"
                         {# src="/img/emlo_logo.png"  #}
                         src="{{ url_for('static', filename='js/img/emlo_logo.png') }}"
                         alt="EMLO logo"
                         class="show-for-large-up menu-name"/></a>
                    <strong><a class="no-decoration hide-for-large-up" href="/" accesskey="1">EMLO  &nbsp;&nbsp;</a></strong>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="/">Menu</a></li>
        </ul>

        <section class="top-bar-section yellow-bg">
            <!-- Left Nav Section -->
            <ul class="left yellow-bg">
                <li>
                    <a href="${items['url']}">Home</a>
                </li>
                <li>
                    <a href="${items['url']}">Search+</a>
                </li>
                <li>
                    <a href="${items['url']}">About</a>
                </li>
            </ul>

            <!-- Right Nav Section -->
            <ul class="right yellow-bg">
                <!-- search bar -->
                <li class="has-form">
                    <form action="/forms/quick" method="get" id="circle-search">
                        <div class="row collapse">
                            <input name="everything" type="search" placeholder="Keywords..."/>
                            <input name="search_type" type="hidden" value="quick"/>
                        </div>
                    </form>
                </li>
                <!-- end of search bar -->
            </ul>

        </section>
    </nav>
</div>





<h1>XXXXXXXXXXXXXXXXX</h1>
<h1>xkxkxkxkxkx</h1>


<div class="bg-lime-300">
    zzzzzz
</div>


<script>
    window.onload = function () {
        console.log('xx')
        // emfr.core.debugHi();
    }
</script>

{% endblock %}